Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: cargo xtask assets build && git add crates/locald-server/src/assets

sync-manifesto:
  run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

Preserve live owners across retry dispatch
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Keep retry claims truthful through maintenance
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Keep explicit recovery scoped to healthy runtimes
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Bound failed availability retries and expose the next attempt (#150)
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
  locald-dashboard/src/lib/components/ProjectView.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Make publisher descriptor rejection test deterministic
  crates/locald-publisher-client/src/backend.rs
Due: fmt, clippy

Split publisher transport rejection cases
  crates/locald-publisher-client/src/backend.rs
Due: fmt, clippy

Make publisher descriptor rejection test deterministic (#151)
  crates/locald-publisher-client/src/backend.rs
Due: fmt, clippy

Use startup-boundary budget for loaded lifecycle fixtures
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Isolate real publisher lifecycle from parallel process spawns
  crates/locald-server/src/publisher_dispatch.rs
Due: fmt, clippy

Prune stale generations and reject Unicode-equivalent projections
  Cargo.lock
  crates/locald-server/Cargo.toml
  crates/locald-server/src/generated_files.rs
Due: fmt, clippy

Revalidate generated projections after controller preparation
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Preserve projection watches across rejected configuration changes
  crates/locald-server/src/generated_files.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Recover retained projections before explicit start preflight
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Harden projection watch paths and file ownership boundaries
  crates/locald-server/src/generated_files.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Recover projection probes and preserve lifecycle boundary checks
  crates/locald-server/src/generated_files.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Add project-relative generated file projections (#147)
  Cargo.lock
  crates/locald-cli/tests/cmd/ai-schema.md
  crates/locald-core/src/config/mod.rs
  crates/locald-publisher-client/src/backend.rs
  crates/locald-server/Cargo.toml
  crates/locald-server/src/generated_files.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/publisher_dispatch.rs
  crates/locald-server/src/publisher_transport.rs
  locald-docs/src/content/docs/reference/locald-toml.md
Due: fmt, clippy

Make dashboard service navigation clear and persistent
  .github/workflows/ci.yml
  e2e/node/locald-dashboard-e2e/README.md
  e2e/node/locald-dashboard-e2e/package.json
  e2e/node/locald-dashboard-e2e/playwright.config.ts
  e2e/node/locald-dashboard-e2e/playwright.service-cards.config.ts
  e2e/node/locald-dashboard-e2e/scripts/service-card-fixture.mjs
  e2e/node/locald-dashboard-e2e/tests/service-cards.spec.ts
  locald-dashboard/locald.toml
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/components/ServiceDestination.svelte
  locald-dashboard/src/lib/rack-projects.test.ts
  locald-dashboard/src/lib/rack-projects.ts
  locald-dashboard/src/lib/service-presentation.test.ts
  locald-dashboard/src/lib/service-presentation.ts
  locald-dashboard/src/lib/stores/services.test.ts
  locald-dashboard/src/lib/stores/services.ts
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

Keep dashboard project headings actionable and selected checkouts visible
  e2e/node/locald-dashboard-e2e/tests/service-cards.spec.ts
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

Preserve dashboard controls across attachment and pending-action transitions
  e2e/node/locald-dashboard-e2e/tests/service-cards.spec.ts
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/components/ServiceDestination.svelte
Due: dashboard-lint, dashboard-check, build-assets

Make dashboard service navigation clear and persistent (#152)
  .github/workflows/ci.yml
  e2e/node/locald-dashboard-e2e/README.md
  e2e/node/locald-dashboard-e2e/package.json
  e2e/node/locald-dashboard-e2e/playwright.config.ts
  e2e/node/locald-dashboard-e2e/playwright.service-cards.config.ts
  e2e/node/locald-dashboard-e2e/scripts/service-card-fixture.mjs
  e2e/node/locald-dashboard-e2e/tests/service-cards.spec.ts
  locald-dashboard/locald.toml
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/components/ServiceDestination.svelte
  locald-dashboard/src/lib/rack-projects.test.ts
  locald-dashboard/src/lib/rack-projects.ts
  locald-dashboard/src/lib/service-presentation.test.ts
  locald-dashboard/src/lib/service-presentation.ts
  locald-dashboard/src/lib/stores/services.test.ts
  locald-dashboard/src/lib/stores/services.ts
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

Retain tested macOS binaries for Rust and dashboard changes
  .github/workflows/ci.yml
  docs/guides/ci-macos-artifact.md
  scripts/ci/package_macos.py
  scripts/ci/test_package_macos.py
Due: none

Retain tested macOS binaries for Rust and dashboard changes (#153)
  .github/workflows/ci.yml
  docs/guides/ci-macos-artifact.md
  scripts/ci/package_macos.py
  scripts/ci/test_package_macos.py
Due: none

Reuse verified macOS trust and bound setup repairs
  Cargo.lock
  crates/locald-cli/src/macos_setup.rs
  crates/locald-cli/src/trust.rs
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/lib.rs
  crates/locald-utils/src/macos_trust.rs
Due: fmt, clippy

Keep trust polling lightweight and verify TrustAsRoot readiness
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/macos_trust.rs
Due: fmt, clippy

Match managed readiness probes to localhost routing
  crates/locald-server/src/health.rs
Due: fmt, clippy

Reserve both loopback families and preserve probe Host
  crates/locald-server/src/health.rs
  crates/locald-server/src/port_allocator.rs
  crates/locald-utils/src/probe.rs
Due: fmt, clippy

Make loopback fixtures portable and sticky allocation deterministic
  crates/locald-server/src/health.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/port_allocator.rs
Due: fmt, clippy

Match managed readiness probes to localhost routing (#155)
  crates/locald-server/src/health.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/port_allocator.rs
  crates/locald-utils/src/probe.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
