Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    dashboard-lint:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm lint
    dashboard-check:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm check
    build-assets:
      glob: "locald-dashboard/**/*.{js,ts,svelte,html,css,json}"
      run: cargo xtask assets build && git add crates/locald-server/src/assets
    sync-manifesto:
      glob: "docs/design/**/*.md"
      run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

pre-push:
  parallel: true
  commands:
    rust-checks:
      run: cargo xtask check
    docs-build:
      root: locald-docs
      run: CI=true pnpm install && pnpm build

feat(dashboard): add reset service action
  locald-dashboard/src/lib/actions/service.ts
  locald-dashboard/src/lib/api.ts
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/stores/actions.ts
Due: dashboard-lint, dashboard-check, build-assets

feat(dashboard): add loading/error/empty states for service list
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/stores/services.ts
Due: dashboard-lint, dashboard-check, build-assets

feat(dashboard): add keyboard accessibility support
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/components/Sidebar.svelte
Due: dashboard-lint, dashboard-check, build-assets

feat(dashboard): add connection error banner
  locald-dashboard/src/lib/api.ts
  locald-dashboard/src/lib/components/ConnectionBanner.svelte
  locald-dashboard/src/lib/stores/connection.ts
  locald-dashboard/src/routes/+layout.svelte
Due: dashboard-lint, dashboard-check, build-assets

feat(dashboard): surface additional API fields in inspector drawer
  docs/manual/features/cli.md
  docs/rfcs/stage-1/0146-ux-polish-user-visible-improvements.md
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
Due: dashboard-lint, dashboard-check, build-assets

refactor(dashboard): extract ServiceInspectResponse to shared types
  locald-dashboard/src/lib/api.ts
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/types.ts
Due: dashboard-lint, dashboard-check, build-assets

feat(dashboard): add toast feedback for clipboard copy actions
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/utils/clipboard.ts
Due: dashboard-lint, dashboard-check, build-assets

refactor(dashboard): extract Spinner and StatusDot components
  .context/HANDOFF.md
  .context/map-open-questions.md
  .context/phase-58-cli-audit.md
  .context/phase-58-config-audit.md
  .context/phase-58-doctor-audit.md
  .context/phase-58-health-urls-audit.md
  .context/phase-58-lifecycle-audit.md
  .context/phase-58-privileged-audit.md
  .context/phase-58-summary.md
  .context/phase-60-rfc-manual-audit.md
  .context/rfc-audit.md
  locald-dashboard/src/lib/components/ConnectionBanner.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/components/Sidebar.svelte
  locald-dashboard/src/lib/components/Spinner.svelte
  locald-dashboard/src/lib/components/StatusDot.svelte
Due: dashboard-lint, dashboard-check, build-assets

style(dashboard): align off-palette colors to Zinc palette
  locald-dashboard/src/lib/components/ConnectionBanner.svelte
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
  locald-dashboard/src/lib/components/StatusDot.svelte
Due: dashboard-lint, dashboard-check, build-assets

style(dashboard): add basic mobile responsiveness
  locald-dashboard/src/lib/components/CommandPalette.svelte
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

test(dashboard): add E2E tests for UI improvements
  e2e/node/locald-dashboard-e2e/playwright.config.ts
  e2e/node/locald-dashboard-e2e/tests/ui-improvements.spec.ts
Due: none

fix: SSE onopen callback and update E2E test selectors
  crates/locald-server/src/api.rs
  e2e/node/locald-dashboard-e2e/tests/actions.spec.ts
  e2e/node/locald-dashboard-e2e/tests/ui-improvements.spec.ts
Due: fmt, clippy

fix: prevent double project prefix in DATABASE_URL interpolation
  crates/locald-server/src/manager.rs
Due: fmt, clippy

feat: add PortAllocator to prevent port race conditions
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/port_allocator.rs
  crates/locald-server/src/service/postgres.rs
  e2e/node/locald-dashboard-e2e/tests/actions.spec.ts
  e2e/node/locald-dashboard-e2e/tests/ui-improvements.spec.ts
Due: fmt, clippy

fix(port-allocator): extend RAII port allocation to plugin system
  crates/locald-server/src/manager.rs
  crates/locald-server/src/plugins/mod.rs
  crates/locald-server/src/plugins/plan.rs
Due: fmt, clippy

test: update CLI snapshot for add command
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help.md
Due: none

fix: address Copilot review comments on PR #81
  crates/locald-server/src/manager.rs
  crates/locald-server/src/port_allocator.rs
  e2e/node/locald-dashboard-e2e/tests/ui-improvements.spec.ts
  locald-dashboard/src/lib/components/ConnectionBanner.svelte
  locald-dashboard/src/lib/components/Toast.svelte
  locald-dashboard/src/lib/stores/actions.ts
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

chore(plan): close E3 phases 57, 60, 62
  docs/agent-context/plan.toml
Due: none

chore: complete Phase 58 (Hot Reload) & promote RFC 0050 to Stage 1
  docs/agent-context/plan.toml
  docs/rfcs/stage-1/0050-hot-reloading.md
Due: none

feat: macOS platform support for host-first exec services
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/style.rs
  crates/locald-cli/src/trust.rs
  crates/locald-cli/src/utils.rs
  crates/locald-server/Cargo.toml
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/discovery.rs
  crates/locald-utils/src/privileged.rs
  crates/xtask/Cargo.toml
  lefthook.yml
Due: fmt, clippy

fix: default to unprivileged ports on macOS
  crates/locald-core/src/config/global.rs
Due: fmt, clippy

feat: pfctl port forwarding for macOS admin setup
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/global_config.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/port_forward.rs
Due: fmt, clippy

fix: use security CLI for macOS cert trust installation
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/trust.rs
Due: fmt, clippy

fix: use setsid() syscall instead of setsid command for daemon spawn
  crates/locald-cli/src/utils.rs
Due: fmt, clippy

fix: include CA cert in TLS chain for browser trust verification
  Cargo.lock
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/cert.rs
Due: fmt, clippy

fix: advertise public ports on macOS and align global config path
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/lib.rs
Due: fmt, clippy

fix: use Admin trust domain when running as root on macOS
  crates/locald-cli/src/trust.rs
Due: fmt, clippy

fix: skip setsid on macOS (Linux-only command)
  crates/locald-cli/src/utils.rs
Due: fmt, clippy

feat: add locald-agent macOS menu bar status icon
  Cargo.lock
  Cargo.toml
  crates/locald-agent/Cargo.toml
  crates/locald-agent/README.md
  crates/locald-agent/src/main.rs
Due: fmt, clippy

fix: use NSApplication event loop for working menu bar clicks
  Cargo.lock
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
Due: fmt, clippy

fix: use default-members to exclude Linux-only crates from default builds
  .vscode/settings.json
  Cargo.toml
  crates/locald-cli/src/utils.rs
  crates/xtask/src/check.rs
  lefthook.yml
Due: fmt, clippy

fix: address Copilot review comments on PR #84
  Cargo.lock
  Cargo.toml
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/lib.rs
  crates/locald-utils/src/privileged.rs
Due: fmt, clippy

fix: check pfctl redirect rules, not just anchor existence
  crates/locald-cli/src/port_forward.rs
  crates/locald-server/src/lib.rs
Due: fmt, clippy

fix: address review concerns (shared IPC, docs, idempotency)
  crates/locald-agent/src/main.rs
  crates/locald-cli/src/trust.rs
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/ipc.rs
Due: fmt, clippy

fix: detect pfctl redirect via TCP probe instead of pfctl CLI
  crates/locald-cli/src/port_forward.rs
  crates/locald-server/src/lib.rs
Due: fmt, clippy

fix: make admin setup and CertManager failures fatal when privileged
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/lib.rs
Due: fmt, clippy

fix: add pfctl probe retry and macOS first-run readiness check
  crates/locald-cli/src/utils.rs
  crates/locald-server/src/lib.rs
Due: fmt, clippy
