Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    dashboard-lint:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm lint
    dashboard-check:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm check
    build-assets:
      glob: "locald-dashboard/**/*.{js,ts,svelte,html,css,json}"
      run: cargo xtask assets build && git add crates/locald-server/src/assets
    sync-manifesto:
      glob: "docs/design/**/*.md"
      run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

pre-push:
  parallel: true
  commands:
    rust-checks:
      run: cargo xtask check
    docs-build:
      root: locald-docs
      run: CI=true pnpm install && pnpm build

feat(plugins): implement package manifest schema (Phase 29.2.1)
  Cargo.lock
  crates/locald-core/Cargo.toml
  crates/locald-core/src/lib.rs
  crates/locald-core/src/plugin/manifest.rs
  crates/locald-core/src/plugin/mod.rs
Due: fmt, clippy

rfc: add comprehensive 'locald package create' specification
  docs/agent-context/plan.toml
  docs/rfcs/stage-1/0129-wasm-plugins-as-plan-transforms.md
Due: none

feat(plugins): implement 'locald plugin create' command (Phase 29.2.2)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/plugin.rs
Due: fmt, clippy

rfc: add package installation specification (section 3.13.7)
  docs/agent-context/plan.toml
  docs/rfcs/stage-1/0129-wasm-plugins-as-plan-transforms.md
Due: none

feat(plugins): implement package install for .locald-package archives (Phase 29.2.3)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/plugin.rs
Due: fmt, clippy

docs: add plugin packaging guide for plugin authors (Phase 29.2.4)
  crates/locald-cli/tests/plugin_commands.rs
  docs/agent-context/plan.toml
  docs/manual/plugin-packaging.md
Due: fmt, clippy

fix: correct shim command references (locald-shim, not locald shim)
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/utils.rs
  crates/locald-utils/src/container.rs
  crates/locald-utils/src/privileged.rs
  crates/locald-utils/src/shim.rs
Due: fmt, clippy

docs: fix shim command references in documentation
  CURRENT.toml
  YEHUDA_STATUS.md
  docs/manual/architecture/shim-management.md
  docs/manual/development/container-environments.md
  docs/manual/features/cli.md
  docs/manual/features/doctor.md
  docs/rfcs/stage-1/0130-host-shim-daemon.md
  docs/rfcs/stage-2/0130-host-shim-daemon.md
Due: none

fix(shim): shared-home container workflow and immutable distro support
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/utils.rs
  crates/locald-shim/src/daemon.rs
  crates/locald-shim/src/main.rs
  crates/locald-utils/src/container.rs
  docs/manual/plugin-packaging.md
  docs/research/kano-qfd.md
  docs/rfcs/stage-1/0129-wasm-plugins-as-plan-transforms.md
Due: fmt, clippy

feat(host-spawn): add guest-to-host execution crate
  Cargo.lock
  Cargo.toml
  crates/host-spawn/Cargo.toml
  crates/host-spawn/README.md
  crates/host-spawn/src/command.rs
  crates/host-spawn/src/detect.rs
  crates/host-spawn/src/error.rs
  crates/host-spawn/src/exec.rs
  crates/host-spawn/src/lib.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/utils.rs
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/container.rs
  crates/locald-utils/src/privileged.rs
  docs/rfcs/stage-2/0134-host-spawn-crate-guest-to-host-execution.md
Due: fmt, clippy

chore: remove stale status files
  CURRENT.toml
  YEHUDA_STATUS.md
Due: none

feat(distributions): implement Phase 29.3 Distribution system
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/distribution.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/init.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/service.rs
  crates/locald-cli/src/type_check.rs
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/ipc.rs
  crates/locald-core/src/plugin/distribution.rs
  crates/locald-core/src/plugin/mod.rs
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/plugins/mod.rs
  docs/agent-context/plan.toml
  docs/manual/distribution-authoring.md
  docs/rfcs/stage-1/0129-wasm-plugins-as-plan-transforms.md
  docs/surface/cli-manifest.json
  examples/redis-stack-distribution/README.md
  examples/redis-stack-distribution/distribution.toml
  examples/redis-stack-distribution/locald.toml
  examples/redis-stack-distribution/scaffold/.gitignore
  examples/redis-stack-distribution/scaffold/README.md.template
Due: fmt, clippy

feat(distributions): implement Phase 29.3 Distribution system (#54)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/distribution.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/init.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/service.rs
  crates/locald-cli/src/type_check.rs
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/plugin/distribution.rs
  crates/locald-core/src/plugin/mod.rs
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/plugins/mod.rs
  docs/agent-context/plan.toml
  docs/manual/distribution-authoring.md
  docs/rfcs/stage-1/0129-wasm-plugins-as-plan-transforms.md
  docs/surface/cli-manifest.json
  examples/redis-stack-distribution/README.md
  examples/redis-stack-distribution/distribution.toml
  examples/redis-stack-distribution/locald.toml
  examples/redis-stack-distribution/scaffold/.gitignore
  examples/redis-stack-distribution/scaffold/README.md.template
Due: fmt, clippy

feat(distributions): implement Phase 29.3 Distribution system
  crates/locald-cli/src/cli.rs
Due: fmt, clippy

docs: clarify pin/monitor/disable + WSL scope
  docs/rfcs/stage-0/0133-wsl-windows-helper-bridge.md
  docs/rfcs/stage-0/0134-macos-domain-cert-requirements.md
  docs/rfcs/stage-0/0135-dashboard-vocabulary.md
  locald-docs/astro.config.mjs
  locald-docs/src/content/docs/concepts/generative-design.md
  locald-docs/src/content/docs/concepts/workflow-axioms.md
  locald-docs/src/content/docs/getting-started/index.mdx
  locald-docs/src/content/docs/guides/dns-and-domains.md
  locald-docs/src/content/docs/roadmap/index.md
  locald-docs/src/content/docs/roadmap/windows-and-wsl.md
Due: none

proxy: add disabled-service landing page
  crates/locald-core/src/resolver.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy.rs
  crates/locald-server/src/proxy_test.rs
  docs/manual/architecture/vision.md
  docs/manual/features/service-urls.md
  docs/manual/vision.md
  docs/rfcs/stage-0/0133-wsl-windows-helper-bridge.md
  locald-dashboard/src/routes/+page.svelte
  locald-docs/src/content/docs/guides/dns-and-domains.md
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Fix duplicate distribution command
  crates/locald-cli/src/cli.rs
Due: fmt, clippy

Add agent handoff document for session continuity
  .context/HANDOFF.md
Due: none

Centralize Root CA management
  .prototools
  Cargo.lock
  crates/locald-cli/src/trust.rs
  crates/locald-shim/Cargo.toml
  crates/locald-shim/src/main.rs
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/privileged.rs
  docs/surface/cli-manifest.json
  lefthook.yml
Due: fmt, clippy

Remove container workflow support (RFC 0138)
  .github/workflows/ci.yml
  Cargo.toml
  crates/host-spawn/Cargo.toml
  crates/host-spawn/README.md
  crates/host-spawn/src/command.rs
  crates/host-spawn/src/detect.rs
  crates/host-spawn/src/error.rs
  crates/host-spawn/src/exec.rs
  crates/host-spawn/src/lib.rs
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/utils.rs
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/plugin_commands.rs
  crates/locald-cli/tests/plugin_e2e.rs
  crates/locald-cli/tests/regression_symlinks.rs
  crates/locald-core/src/config/global.rs
  crates/locald-core/src/config/mod.rs
  crates/locald-shim/src/daemon.rs
  crates/locald-shim/src/protocol.rs
  crates/locald-utils/src/container.rs
  crates/locald-utils/src/lib.rs
  crates/locald-utils/src/shim.rs
  crates/locald-utils/src/shim_client.rs
  docs/agent-context/current/implementation-plan.toml
  docs/manual/architecture/configuration.md
  docs/manual/architecture/shim-management.md
  docs/manual/development/container-environments.md
  docs/manual/features/doctor.md
  docs/manual/features/process-types.md
  docs/research/host-container-privilege-split.md
  docs/rfcs/stage-0/0137-superseded-by-rfc-0138.md
  docs/rfcs/stage-1/0130-host-shim-daemon.md
  docs/rfcs/stage-1/0138-remove-container-workflow-support.md
  docs/rfcs/stage-2/0130-host-shim-daemon.md
  docs/rfcs/stage-2/0134-host-spawn-crate-guest-to-host-execution.md
  locald-docs/src/content/docs/reference/service-types.md
Due: fmt, clippy

feat: Remove DockerRuntime - RFC 0142
  Cargo.lock
  crates/locald-cli/src/init.rs
  crates/locald-cli/src/service.rs
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/state.rs
  crates/locald-server/Cargo.toml
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/health.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/plugins/mod.rs
  crates/locald-server/src/plugins/plan.rs
  crates/locald-server/src/proxy_test.rs
  crates/locald-server/src/runtime/docker.rs
  crates/locald-server/src/runtime/mod.rs
  crates/locald-server/src/service/docker.rs
  crates/locald-server/src/service/exec.rs
  crates/locald-server/src/service/mod.rs
  crates/locald-utils/src/privileged.rs
  docs/research/papercut-ledger.md
  docs/research/usage-session-template.md
  docs/research/workflow-scenarios.md
  docs/rfcs/stage-3/0142-remove-docker-runtime.md
  examples/docker-service/locald.toml
  examples/health-check-service/locald.toml
Due: fmt, clippy

fix(ci): reclaim disk space between build phases
  .github/workflows/ci.yml
Due: none

feat(ci): add aggressive cleanup, codecov format, and documentation
  .github/workflows/ci.yml
Due: none

CI: add 'ci-fix' label escape hatch for Mainline Health check
  .github/workflows/ci.yml
Due: none

CI: remove redundant stable tests on main (~15 min savings)
  .github/workflows/ci.yml
Due: none

CI: move coverage to nightly schedule only
  .github/workflows/ci.yml
Due: none

chore: add tripwire check to pre-push hook
  lefthook.yml
Due: none

CI: speed optimizations (rust-cache, drop redundant tests)
  .github/workflows/ci.yml
Due: none

fix(ci): faster CI - move coverage to nightly schedule (#59)
  .github/workflows/ci.yml
  Cargo.lock
  crates/locald-cli/src/init.rs
  crates/locald-cli/src/service.rs
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/state.rs
  crates/locald-server/Cargo.toml
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/health.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/plugins/mod.rs
  crates/locald-server/src/plugins/plan.rs
  crates/locald-server/src/proxy_test.rs
  crates/locald-server/src/runtime/docker.rs
  crates/locald-server/src/runtime/mod.rs
  crates/locald-server/src/service/docker.rs
  crates/locald-server/src/service/exec.rs
  crates/locald-server/src/service/mod.rs
  crates/locald-utils/src/privileged.rs
  docs/research/papercut-ledger.md
  docs/research/usage-session-template.md
  docs/research/workflow-scenarios.md
  docs/rfcs/stage-3/0142-remove-docker-runtime.md
  examples/docker-service/locald.toml
  examples/health-check-service/locald.toml
  lefthook.yml
Due: fmt, clippy

docs(rfcs): align RFC stages with implementation reality
  docs/rfcs/0038-extensibility.md
  docs/rfcs/0047-cross-platform-runtime.md
  docs/rfcs/0050-hot-reloading.md
  docs/rfcs/stage-3/0038-extensibility.md
  docs/rfcs/stage-3/0109-locald-doctor.md
Due: none

docs(rfcs): align RFC stages with implementation reality (#60)
  docs/rfcs/0038-extensibility.md
  docs/rfcs/0047-cross-platform-runtime.md
  docs/rfcs/0050-hot-reloading.md
  docs/rfcs/stage-3/0038-extensibility.md
  docs/rfcs/stage-3/0109-locald-doctor.md
Due: none

docs(rfcs): restore RFC 0142 content (was empty)
  docs/rfcs/stage-3/0142-remove-docker-runtime.md
Due: none

docs(rfcs): comprehensive RFC stage audit and reorganization
  .context/rfc-audit.md
  docs/rfcs/stage-1/0129/fixtures/redis-basic.json
  docs/rfcs/stage-1/0129/fixtures/redis-capability-denied.json
  docs/rfcs/stage-1/0129/locald-plugin.wit
  docs/rfcs/stage-2/0104-codebase-cleanup.md
  docs/rfcs/stage-2/0111-property-tests-as-invariant-specs-doctor-fix-consolidation-.md
  docs/rfcs/stage-2/0125-respectful-doctor-output.md
  docs/rfcs/stage-3/0129-wasm-plugins-as-plan-transforms.md
  docs/rfcs/stage-3/0142-remove-docker-runtime.md
  docs/rfcs/withdrawn/0130-host-shim-daemon.md
  docs/rfcs/withdrawn/0134-host-spawn-crate-guest-to-host-execution.md
Due: none
