Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    dashboard-lint:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm lint
    dashboard-check:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm check
    build-assets:
      glob: "locald-dashboard/**/*.{js,ts,svelte,html,css,json}"
      run: cargo xtask assets build && git add crates/locald-server/src/assets
    sync-manifesto:
      glob: "docs/design/**/*.md"
      run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

pre-push:
  parallel: true
  commands:
    rust-checks:
      run: cargo xtask check
    docs-build:
      root: locald-docs
      run: CI=true pnpm install && pnpm build

fix: open dashboard via openExternal (system browser with trusted CA)
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

fix: use http://locald.localhost for Simple Browser (avoids CA trust issue)
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

fix: use https for Simple Browser (CA is trusted)
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

fix: simplify dashboard click handler, pass URL as string
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

feat: URL-as-state deep linking for dashboard
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/routes/+page.svelte
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: dashboard-lint, dashboard-check, build-assets

fix: point to dev dashboard for live URL-as-state
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

fix: use simpleBrowser.api.open to reuse existing tab
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

fix: open dashboard beside current editor, not replacing it
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/src/extension.ts
Due: none

fix: manage own webview panel for dashboard tab reuse
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

feat: use integrated browser with reuseUrlFilter for dashboard tab reuse
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

fix: remove internal port labels from ProjectView
  locald-dashboard/src/lib/components/ProjectView.svelte
Due: dashboard-lint, dashboard-check, build-assets

feat: color-link project name across header and domain segments
  locald-dashboard/src/lib/components/ProjectView.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix: project name quiet/consistent, service subdomain bright
  locald-dashboard/src/lib/components/ProjectView.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix: hide redundant service label when domain link is shown
  locald-dashboard/src/lib/components/ProjectView.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix: Deck mode (monitored services) takes priority over project selection
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix: use Geist Mono Variable in terminals, softer bold (600)
  locald-dashboard/src/lib/components/InteractiveTerminal.svelte
  locald-dashboard/src/lib/components/Terminal.svelte
Due: dashboard-lint, dashboard-check, build-assets

feat: status bar click shows QuickPick with dashboard + web services, each in persistent browser tab
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/src/extension.ts
Due: none

feat: split status bar — dashboard item + web service item with picker
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/src/extension.ts
  locald-vscode/src/status-bar.ts
Due: none

fix: reload pf.conf after persistent pfctl install to activate anchor rules
  crates/locald-helper/src/main.rs
Due: fmt, clippy

refactor: single-path pfctl — rules defined once, applied through disk+reload
  crates/locald-helper/Cargo.toml
  crates/locald-helper/src/main.rs
Due: fmt, clippy

refactor: replace pfctl with XPC FD passing for privileged ports
  AGENTS.md
  Cargo.lock
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/global_config.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/port_forward.rs
  crates/locald-cli/src/utils.rs
  crates/locald-core/src/config/global.rs
  crates/locald-helper/Cargo.toml
  crates/locald-helper/src/main.rs
  crates/locald-server/Cargo.toml
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/helper_client.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy.rs
  crates/locald-utils/src/lib.rs
  crates/locald-utils/src/port_forward.rs
  crates/xtask/src/verify.rs
Due: fmt, clippy

feat: VS Code extension improvements
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.d.ts
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/out/tools.js
  locald-vscode/out/tools.js.map
  locald-vscode/package.json
  locald-vscode/src/extension.ts
  locald-vscode/src/status-bar.ts
  locald-vscode/src/tools.ts
Due: none

refactor: replace xterm.js with ghostty-web
  locald-dashboard/package.json
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/InteractiveTerminal.svelte
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Terminal.svelte
  locald-dashboard/src/lib/ghostty.ts
  locald-dashboard/src/routes/+page.svelte
  patches/ghostty-web.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dashboard-lint, dashboard-check, build-assets

feat: monitor-only interaction model, Deck layout, SSE reconnect
  locald-dashboard/src/app.css
  locald-dashboard/src/lib/api.ts
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

chore: dev workflow (code-dev, Recycle task, launch config)
  .vscode/dev-extensions
  .vscode/launch.json
  .vscode/tasks.json
  docs/rfcs/stage-0/0147-attachments-worktrees-editor-integration.md
  locald-dashboard/.gitignore
  locald-dashboard/src/routes/+page.svelte
  scripts/code-dev
Due: dashboard-lint, dashboard-check, build-assets

fix: rewrite dependency_test to prevent daemon process leak
  crates/locald-cli/tests/dependency_test.rs
Due: fmt, clippy

feat: auto-start daemon from menu bar agent
  Cargo.lock
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
Due: fmt, clippy

fix: log VS Code daemon status recovery
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/status-bar.ts
Due: none

chore: normalize VS Code plumbing formatting
  locald-vscode/out/plumbing.js.map
  locald-vscode/src/plumbing.ts
Due: none

feat: make service URLs prominent in dashboard
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix: keep symlink regression tests out of CNB path
  crates/locald-cli/src/build.rs
  crates/locald-cli/tests/regression_symlinks.rs
Due: fmt, clippy

fix: release helper copy of privileged port FDs
  crates/locald-helper/src/main.rs
  crates/locald-server/src/helper_client.rs
Due: fmt, clippy

fix: release helper copy of privileged port FDs (#92)
  crates/locald-helper/src/main.rs
  crates/locald-server/src/helper_client.rs
Due: fmt, clippy

Add daemon identity diagnostics
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/tests/cmd/help-subcommands.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/lib.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

Address PR feedback on daemon identity
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
  crates/locald-server/src/ipc.rs
Due: fmt, clippy

Add daemon identity diagnostics (#93)
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
  crates/locald-cli/tests/cmd/help-subcommands.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/lib.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

Pin tray agent daemon binary
  crates/locald-agent/src/main.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

Trim pinned daemon path values
  crates/locald-agent/src/main.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

Pin tray agent daemon binary (#94)
  crates/locald-agent/src/main.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy
