Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: cargo xtask assets build && git add crates/locald-server/src/assets

sync-manifesto:
  run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

Phase 58: add task breakdown
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

chore(rfc): format RFC 0138 tables and whitespace
  docs/rfcs/stage-3/0138-remove-container-workflow-support.md
Due: none

docs(phase-58): complete DDD audit tasks 58.1-58.6
  .context/phase-58-cli-audit.md
  .context/phase-58-config-audit.md
  .context/phase-58-doctor-audit.md
  .context/phase-58-health-urls-audit.md
  .context/phase-58-lifecycle-audit.md
  .context/phase-58-privileged-audit.md
  .context/phase-58-summary.md
Due: none

docs(phase-58): add execution plan with user decisions
  .context/phase-58-summary.md
Due: none

fix(cli): implement serve --bind flag (58.7.1)
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/service/site.rs
  crates/locald-server/src/static_server.rs
Due: fmt, clippy

docs(doctor): align problem IDs with implementation (58.7.2)
  docs/manual/features/doctor.md
Due: none

feat(health): implement interval/timeout config (58.7.3)
  crates/locald-core/src/config/mod.rs
  crates/locald-server/src/health.rs
  crates/locald-utils/src/probe.rs
Due: fmt, clippy

fix(cli): return errors instead of swallowing them (58.7.4)
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

feat(cli): add --json to ps, stop, restart commands (58.7.5)
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

feat(cli): add NO_COLOR and TTY detection (58.7.6)
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/style.rs
  crates/locald-cli/src/try_cmd.rs
Due: fmt, clippy

docs(rust): add Rustdoc to core types (58.8)
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/service.rs
  crates/locald-core/src/state.rs
  crates/locald-utils/src/privileged.rs
  docs/agent-context/current/implementation-plan.toml
Due: fmt, clippy

fix(cli): use consistent JSON schema for stop/restart (58.7.5)
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

chore: update CLI surface manifest for new --json flags
  docs/surface/cli-manifest.json
Due: none

test(cli): update trycmd snapshots for --json flag
  crates/locald-cli/tests/cmd/docs-cli.md
Due: none

test(cli): update trycmd snapshots for doctor-json and ai-schema
  crates/locald-cli/tests/cmd/ai-schema.md
Due: none

test(cli): make doctor-json test environment-agnostic
  crates/locald-cli/tests/cmd/doctor-json.md
Due: none

Phase 58: Documentation-Driven Design (DDD) Audit (#74)
  .context/phase-58-cli-audit.md
  .context/phase-58-config-audit.md
  .context/phase-58-doctor-audit.md
  .context/phase-58-health-urls-audit.md
  .context/phase-58-lifecycle-audit.md
  .context/phase-58-privileged-audit.md
  .context/phase-58-summary.md
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/style.rs
  crates/locald-cli/src/try_cmd.rs
  crates/locald-cli/tests/cmd/ai-schema.md
  crates/locald-cli/tests/cmd/docs-cli.md
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/service.rs
  crates/locald-core/src/state.rs
  crates/locald-server/src/health.rs
  crates/locald-server/src/service/site.rs
  crates/locald-server/src/static_server.rs
  crates/locald-utils/src/privileged.rs
  crates/locald-utils/src/probe.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/manual/features/doctor.md
  docs/rfcs/stage-3/0138-remove-container-workflow-support.md
  docs/surface/cli-manifest.json
Due: fmt, clippy

docs(manual): fix contradictions with RFC 0138 and RFC 0142 (60.2)
  docs/manual/architecture/health.md
  docs/manual/features/builds.md
  docs/manual/features/cli.md
  docs/manual/roadmap/docker-integration.md
Due: none

docs(manual): fix stale RFC references (60.2)
  docs/manual/architecture/testing.md
  docs/manual/features/feature-readiness-ledger.md
  docs/manual/plugin-packaging.md
Due: none

docs(phase-60): add RFC vs Manual audit summary
  .context/phase-60-rfc-manual-audit.md
Due: none

Phase 60: Manual Synchronization (#75)
  .context/phase-60-rfc-manual-audit.md
  docs/manual/architecture/health.md
  docs/manual/architecture/testing.md
  docs/manual/features/builds.md
  docs/manual/features/cli.md
  docs/manual/features/feature-readiness-ledger.md
  docs/manual/plugin-packaging.md
  docs/manual/roadmap/docker-integration.md
Due: none

Phase 58: Documentation-Driven Design (DDD) Audit complete
  docs/agent-context/current/implementation-plan.toml
Due: none

chore: Mark Phase 58 complete in plan state (#76)
  docs/agent-context/current/implementation-plan.toml
Due: none

chore: Mark Phases 58 and 60 complete in plan.toml
  docs/agent-context/plan.toml
Due: none

chore: Mark Phases 58 and 60 complete in plan.toml (#77)
  docs/agent-context/plan.toml
Due: none

chore: Start Phase 59 (Systematic Investigation Protocol)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

chore: Start Phase 59 (Systematic Investigation Protocol) (#78)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

Phase 59: Systematic Investigation Protocol complete (runc issue resolved in RFC 0077)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

chore: Linearize plan and mark completed items
  docs/agent-context/plan.toml
Due: none

docs: Add FRICTION.md documenting exo CLI issues
  FRICTION.md
Due: none

chore: Linearize plan and mark completed items (#79)
  FRICTION.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

rfc(0146): UX Polish - User-Visible Improvements
  docs/agent-context/plan.toml
  docs/rfcs/stage-1/0146-ux-polish-user-visible-improvements.md
Due: none

rfc(0146): UX Polish - User-Visible Improvements (#80)
  docs/agent-context/plan.toml
  docs/rfcs/stage-1/0146-ux-polish-user-visible-improvements.md
Due: none

feat(api): add service_type and connection_url to ServiceStatus
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/manager.rs
  docs/agent-context/current/implementation-plan.toml
  locald-dashboard/src/lib/types.ts
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

feat(env): auto-inject DATABASE_URL for Postgres dependencies
  crates/locald-server/src/manager.rs
Due: fmt, clippy

feat(dashboard): display actual service types and connection URLs
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

refactor(cli): standardize error handling in plugin/distribution commands
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

docs(cli): comprehensive CLI reference update
  docs/manual/features/cli.md
Due: none

feat(cli): add 'locald add postgres' shortcut
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  docs/manual/features/cli.md
Due: fmt, clippy

feat(dashboard): add loading/error feedback for service actions
  locald-dashboard/src/lib/actions/service.ts
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/components/Sidebar.svelte
  locald-dashboard/src/lib/components/Toast.svelte
  locald-dashboard/src/lib/stores/actions.ts
  locald-dashboard/src/lib/stores/toasts.ts
  locald-dashboard/src/routes/+layout.svelte
Due: dashboard-lint, dashboard-check, build-assets

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
