Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    dashboard-lint:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm lint
    dashboard-check:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm check
    build-assets:
      glob: "locald-dashboard/**/*.{js,ts,svelte,html,css,json}"
      run: cargo xtask assets build && git add crates/locald-server/src/assets
    sync-manifesto:
      glob: "docs/design/**/*.md"
      run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

pre-push:
  parallel: true
  commands:
    rust-checks:
      run: cargo xtask check
    docs-build:
      root: locald-docs
      run: CI=true pnpm install && pnpm build

fix: default privileged_ports=true and fix readiness check for new users
  crates/locald-cli/src/utils.rs
  crates/locald-core/src/config/global.rs
Due: fmt, clippy

fix: address PR #85 review — async probe, gate on bound listeners
  crates/locald-server/src/lib.rs
Due: fmt, clippy

fix: check both cert files in readiness, fix trust error message
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/utils.rs
Due: fmt, clippy

feat: install locald-agent as LaunchAgent + admin teardown
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix: teardown resets config + fix help text
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

feat: add locald tray start/stop/status/restart commands
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

feat: embed locald-agent binary in locald CLI on macOS
  crates/locald-cli/build.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-utils/src/agent.rs
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/lib.rs
Due: fmt, clippy

feat: persist pfctl port forwarding across reboot via pf.conf anchor
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/port_forward.rs
Due: fmt, clippy

fix: standardize admin setup messages — drop sudo prefix
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/port_forward.rs
  crates/locald-cli/src/utils.rs
  crates/locald-utils/src/privileged.rs
  crates/locald-utils/src/shim.rs
Due: fmt, clippy

feat: agent-as-guardian — detect and surface setup problems
  Cargo.lock
  crates/locald-agent/src/main.rs
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/agent.rs
  crates/locald-utils/src/cert.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

fix: gate Linux-only tests with #[cfg(target_os = "linux")]
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/phase113_integration_boundaries_audit.rs
  crates/locald-cli/tests/plugin_commands.rs
  crates/locald-cli/tests/tui_test.rs
Due: fmt, clippy

fix: address PR review comments
  crates/locald-agent/src/main.rs
  crates/locald-cli/build.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/port_forward.rs
  crates/locald-utils/src/agent.rs
Due: fmt, clippy

feat: richer guardian health checks — pfctl persistence + cert trust
  crates/locald-agent/src/main.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/port_forward.rs
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/lib.rs
  crates/locald-utils/src/port_forward.rs
Due: fmt, clippy

feat: privileged helper daemon for native macOS setup
  Cargo.lock
  Cargo.toml
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
  crates/locald-cli/build.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-helper/Cargo.toml
  crates/locald-helper/README.md
  crates/locald-helper/src/main.rs
  examples/xpc-spike/Cargo.toml
  examples/xpc-spike/com.locald.spike.plist
  examples/xpc-spike/src/client.rs
  examples/xpc-spike/src/server.rs
Due: fmt, clippy

fix: load LaunchAgent into user's GUI domain under sudo
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix: LaunchAgent plist — KeepAlive + Aqua session type
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix: review findings — audit token offset, config robustness, cleanup
  Cargo.lock
  Cargo.toml
  crates/locald-helper/src/main.rs
  examples/xpc-spike/Cargo.toml
  examples/xpc-spike/com.locald.spike.plist
  examples/xpc-spike/src/client.rs
  examples/xpc-spike/src/server.rs
Due: fmt, clippy

fix: advertise privileged ports (80/443) immediately on macOS
  crates/locald-server/src/lib.rs
  crates/locald-server/src/proxy.rs
Due: fmt, clippy

feat: `cargo xtask dev install` — one command to build + install
  crates/xtask/src/dev.rs
  crates/xtask/src/main.rs
Due: fmt, clippy

feat: "Restart All Services" in tray menu + dashboard
  crates/locald-agent/src/main.rs
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

test: add tests for helper protocol, health checks, port advertising
  crates/locald-agent/src/main.rs
  crates/locald-helper/src/main.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

feat: switch dashboard to Geist font family
  docs/surface/cli-manifest.json
  locald-dashboard/package.json
  locald-dashboard/src/app.css
  locald-dashboard/src/routes/+layout.svelte
  pnpm-lock.yaml
Due: dashboard-lint, dashboard-check, build-assets

fix: tray icon survives display reconfiguration (monitor switching)
  Cargo.lock
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
Due: fmt, clippy

feat: macOS native distribution — embedded binaries, XPC helper, guardian agent (#89)
  Cargo.lock
  Cargo.toml
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/main.rs
  crates/locald-cli/build.rs
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/port_forward.rs
  crates/locald-cli/src/utils.rs
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/phase113_integration_boundaries_audit.rs
  crates/locald-cli/tests/plugin_commands.rs
  crates/locald-cli/tests/tui_test.rs
  crates/locald-helper/Cargo.toml
  crates/locald-helper/README.md
  crates/locald-helper/src/main.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy.rs
  crates/locald-utils/Cargo.toml
  crates/locald-utils/src/agent.rs
  crates/locald-utils/src/cert.rs
  crates/locald-utils/src/lib.rs
  crates/locald-utils/src/port_forward.rs
  crates/locald-utils/src/privileged.rs
  crates/locald-utils/src/shim.rs
  crates/xtask/src/dev.rs
  crates/xtask/src/main.rs
  docs/surface/cli-manifest.json
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

rfc: 0147 attachments, worktrees, and editor integration (stage 0)
  docs/rfcs/stage-0/0147-attachments-worktrees-editor-integration.md
Due: none

rfc: 0147 review + slop cleanup pass
  docs/rfcs/stage-0/0147-attachments-worktrees-editor-integration.md
Due: none

feat: attachment primitives + plumbing CLI (RFC 0147 Phase 1+2)
  Cargo.lock
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/Cargo.toml
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/ipc.rs
  crates/locald-core/src/lib.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy_test.rs
Due: fmt, clippy

feat: worktree detection + branch-qualified domains (RFC 0147 Phase 3)
  Cargo.lock
  crates/locald-cli/src/init.rs
  crates/locald-cli/src/service.rs
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-core/Cargo.toml
  crates/locald-core/src/config/mod.rs
  crates/locald-core/src/lib.rs
  crates/locald-core/src/worktree.rs
  crates/locald-server/src/config_loader.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/plugins/mod.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

feat: wire attachments into service lifecycle (RFC 0147 Phase 4)
  crates/locald-core/src/attachments.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

fix: address Copilot review — 6 bugs fixed
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/worktree.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

feat: locald up/stop use attachments (RFC 0147 Phase 7)
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

feat: project list API + remove action (RFC 0147 Phase 5 partial)
  crates/locald-core/src/registry.rs
  crates/locald-server/src/api.rs
  crates/locald-server/src/manager.rs
  locald-dashboard/src/lib/api.ts
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

feat: dashboard attachment sections + project detail view (RFC 0147 Phase 5)
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/Sidebar.svelte
  locald-dashboard/src/lib/stores/projects.ts
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

test: update ai-schema snapshot for WorktreesConfig
  crates/locald-cli/tests/cmd/ai-schema.md
Due: none

fix: locald up stays alive streaming logs, stop() restores controller on failure
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

feat: enrich ProjectStatusInfo with service_details, extend RFC with Copilot tools
  crates/locald-core/src/attachments.rs
  crates/locald-server/src/manager.rs
  docs/rfcs/stage-0/0147-attachments-worktrees-editor-integration.md
Due: fmt, clippy

feat: scaffold VS Code extension with attach/detach lifecycle, Copilot tools (RFC 0147 Phase 6)
  locald-vscode/.vscodeignore
  locald-vscode/copilot-instructions.md
  locald-vscode/out/extension.d.ts
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/out/tools.d.ts
  locald-vscode/out/tools.js
  locald-vscode/out/tools.js.map
  locald-vscode/package-lock.json
  locald-vscode/package.json
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/status-bar.ts
  locald-vscode/src/tools.ts
  locald-vscode/tsconfig.json
Due: none

fix: add displayName/modelDescription to tools, fix chatInstructions path
  locald-vscode/LICENSE
  locald-vscode/locald-vscode.vsix
  locald-vscode/package-lock.json
  locald-vscode/package.json
Due: none

fix: handle missing service_details, use correct health_status field
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/src/plumbing.ts
  locald-vscode/src/status-bar.ts
Due: none

feat: status bar shows project name + attachment context, tooltip lists services
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/out/tools.js.map
  locald-vscode/package.json
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/status-bar.ts
  locald-vscode/src/tools.ts
Due: none
