Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: ./scripts/build-assets.sh && git add locald-server/src/assets

sync-manifesto:
  run: ./locald-docs/scripts/sync-manifesto.sh && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

fmt
  locald-cli/src/trust.rs
  locald-shim/src/main.rs
  locald-utils/src/cert.rs
  locald-utils/src/privileged.rs
Due: fmt, clippy

clippy: fix lints
  locald-shim/src/main.rs
  locald-utils/src/privileged.rs
  locald-vmm/src/linux_unsupported.rs
Due: fmt, clippy

fmt
  locald-shim/src/main.rs
Due: fmt, clippy

Host diagnostics + surface coherence scheduling (#20)
  .prototools
  Cargo.lock
  docs/agent-context/plan.toml
  docs/rfcs/stage-0/0114-surface-contract-program-keep-ux-coherent-.md
  locald-cli/src/handlers.rs
  locald-cli/src/hints.rs
  locald-cli/src/trust.rs
  locald-core/src/config/global.rs
  locald-docs/src/content/docs/getting-started/index.mdx
  locald-server/src/health.rs
  locald-server/src/lib.rs
  locald-server/src/manager.rs
  locald-server/src/proxy.rs
  locald-server/src/proxy_test.rs
  locald-server/src/runtime/docker.rs
  locald-server/src/runtime/mod.rs
  locald-shim/Cargo.toml
  locald-shim/src/main.rs
  locald-utils/src/cert.rs
  locald-utils/src/privileged.rs
  locald-vmm/examples/find_boot_params.rs
  locald-vmm/src/lib.rs
  locald-vmm/src/linux.rs
  locald-vmm/src/linux_unsupported.rs
  locald-vmm/src/linux_x86.rs
Due: fmt, clippy

docs: add commit signing setup
  CONTRIBUTING.md
  README.md
Due: none

docs: add commit signing setup (#21)
  CONTRIBUTING.md
  README.md
Due: none

exo: update phase 109 status
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
Due: none

exo: update phase 109 status (#22)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
Due: none

CI: fast PR lane + stop-the-line
  .github/workflows/ci-watchdog.yml
  .github/workflows/ci.yml
  docs/rfcs/stage-0/0115-ci-acceleration-stop-the-line-main.md
  scripts/ci-pr-fast.sh
  scripts/untested-change-tripwire.sh
Due: none

CI: fix mainline health JSON parsing
  .github/workflows/ci.yml
Due: none

CI: fix PR permissions and git diff gating
  .github/workflows/ci.yml
Due: none

CI: install pnpm for Rust build scripts
  .github/workflows/ci.yml
Due: none

Phase 109: doctor complete; CI acceleration unblocked
  docs/agent-context/current/walkthrough.toml
Due: none

Context: mark phase 109 completed
  docs/agent-context/plan.toml
Due: none

Context: start phase 110
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
Due: none

Phase 110: replace stub steps
  docs/agent-context/current/implementation-plan.toml
Due: none

Phase 110: define Surface Contract v1
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  locald-docs/src/content/docs/getting-started/index.mdx
  locald-docs/src/content/docs/internals/rfcs/index.mdx
  locald-docs/src/content/docs/reference/cli.md
Due: none

Phase 110: run/exec semantics + remove Python from CI watchdog
  .github/workflows/ci-watchdog.yml
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/cli.rs
  locald-docs/src/content/docs/guides/adhoc-tasks.md
  locald-docs/src/content/docs/reference/cli.md
Due: fmt, clippy

Docs: add Heroku terminology axiom
  docs/design/axioms/experience/15-heroku-terminology.md
  locald-docs/src/content/docs/internals/axioms/experience/15-heroku-terminology.md
Due: sync-manifesto

Exosuit: mark Phase 110 steps completed
  docs/agent-context/current/implementation-plan.toml
Due: none

Docs: note Exosuit task status mismatch
  docs/brainstorming/2025-12-19-exosuit-task-status-derived-mismatch.md
Due: none

RFC 0116: define Minimum AWESOME Product (MAP)
  docs/rfcs/stage-0/0116-minimum-awesome-product-map--scope-quarantine-and-enforcement.md
Due: none

Chore: normalize markdown + newline
  .github/workflows/ci-watchdog.yml
  docs/brainstorming/2025-12-19-exosuit-task-status-derived-mismatch.md
  docs/design/axioms/experience/15-heroku-terminology.md
  locald-docs/src/content/docs/guides/adhoc-tasks.md
  locald-docs/src/content/docs/internals/axioms/experience/15-heroku-terminology.md
Due: sync-manifesto

Tests: cover locald run/exec clap parsing
  locald-cli/src/cli.rs
Due: fmt, clippy

docs: stabilize post-MAP RFC and localhost defaults
  docs/rfcs/stage-0/0124-post-map-release-themes-front-end-apps.md
  examples/adhoc-test/locald.toml
  examples/postgres-multi-test/locald.toml
  examples/postgres-test/locald.toml
  examples/validation-test/locald.toml
  locald-cli/src/init.rs
Due: fmt, clippy

Phase 111: enforce CLI surface manifest
  .github/workflows/ci.yml
  Cargo.lock
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/surface/cli-manifest.json
  locald-cli/Cargo.toml
  locald-cli/src/cli.rs
  locald-cli/src/handlers.rs
  locald-cli/src/main.rs
  locald-cli/src/surface_manifest.rs
  scripts/check
  scripts/check-cli-surface-docs.mjs
Due: fmt, clippy

docs: mark Phase 111 completed
  docs/agent-context/plan.toml
Due: none

test: cover CLI surface manifest generator
  locald-cli/src/surface_manifest.rs
Due: fmt, clippy

ci: generate CLI manifest without UI features
  .github/workflows/ci.yml
Due: none

Phase 111: enforce CLI surface manifest (#25)
  .github/workflows/ci.yml
  Cargo.lock
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/surface/cli-manifest.json
  locald-cli/Cargo.toml
  locald-cli/src/cli.rs
  locald-cli/src/handlers.rs
  locald-cli/src/main.rs
  locald-cli/src/surface_manifest.rs
  scripts/check
  scripts/check-cli-surface-docs.mjs
Due: fmt, clippy

Phase 112: dashboard surface audit (monitor vs pin)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/surface/dashboard-surface-inventory.md
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-docs/src/content/docs/concepts/workspace.md
  locald-docs/src/content/docs/getting-started/index.mdx
Due: dashboard-lint, dashboard-check, build-assets

docs: mark Phase 112 completed
  docs/agent-context/plan.toml
Due: none

Phase 112: dashboard surface audit (monitor vs pin) (#26)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/surface/dashboard-surface-inventory.md
  locald-dashboard/src/lib/components/DaemonControlCenter.svelte
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-docs/src/content/docs/concepts/workspace.md
  locald-docs/src/content/docs/getting-started/index.mdx
Due: dashboard-lint, dashboard-check, build-assets

Phase 113: Integration boundaries audit
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  locald-docs/astro.config.mjs
  locald-docs/src/content/docs/reference/builds.md
  locald-docs/src/content/docs/reference/cli.md
  locald-docs/src/content/docs/reference/integrations.md
  locald-docs/src/content/docs/reference/locald-toml.md
  locald-utils/src/privileged.rs
Due: fmt, clippy

Phase 114: readiness ledger + drift checklist
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/manual/development/surface-drift-checklist.md
  docs/manual/features/cli.md
  docs/manual/features/execution-modes.md
  docs/manual/features/feature-readiness-ledger.md
Due: none

Phase 114: mark completed in plan
  docs/agent-context/plan.toml
Due: none

Phase 16: verify WebSocket support (pnpm websocket-test)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  examples/websocket-test/Procfile
  examples/websocket-test/client.js
  examples/websocket-test/package-lock.json
  examples/websocket-test/package.json
  examples/websocket-test/pnpm-lock.yaml
Due: none

Phase 16: WebSocket verification (pnpm websocket-test)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  examples/websocket-test/Procfile
  examples/websocket-test/client.js
  examples/websocket-test/package-lock.json
  examples/websocket-test/package.json
  examples/websocket-test/pnpm-lock.yaml
Due: none

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
