Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: cargo xtask assets build && git add crates/locald-server/src/assets

sync-manifesto:
  run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

fix(cli): address semantic lifecycle review findings
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
  e2e/rust/locald-e2e/src/harness.rs
  e2e/rust/locald-e2e/tests/daemon_lifecycle.rs
  e2e/rust/locald-e2e/tests/dependencies.rs
  e2e/rust/locald-e2e/tests/port_binding.rs
  e2e/rust/locald-e2e/tests/service_execution.rs
  e2e/rust/locald-e2e/tests/service_urls.rs
Due: fmt, clippy

fix(cli): hide direct service ports from status
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix(cli): keep human status privacy-safe
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

fix(cli): preserve best-effort service aliases
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix(cli): retry typed daemon startup states
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix(cli): keep semantic lifecycle projections resilient
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

fix(cli): clarify readiness failures and legacy status
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix(ipc): clarify scoped log contracts
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
Due: fmt, clippy

fix(cli): resolve ambient projects from subdirectories
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

test(cli): scope dependency logs to project
  crates/locald-cli/tests/dependency_test.rs
Due: fmt, clippy

fix(server): keep semantic and legacy pin state aligned
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

fix(logs): preserve global diagnostic access
  crates/locald-cli/src/handlers.rs
  crates/locald-server/src/ipc.rs
Due: fmt, clippy

fix(cli): preserve ambient project semantics
  crates/locald-cli/src/handlers.rs
  e2e/rust/locald-e2e/tests/port_binding.rs
Due: fmt, clippy

fix(cli): resolve project stop from nested paths
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

fix(status): explain unresolved project availability
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Clarify unscoped log recovery
  crates/locald-server/src/ipc.rs
Due: fmt, clippy

Address semantic lifecycle review
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Keep project stop compatible with older daemons
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

Align CLI with availability lifecycle (#123)
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/tests/cmd/docs-cli.md
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help-subcommands.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-cli/tests/dependency_test.rs
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/tui_test.rs
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/availability.rs
  crates/locald-core/src/ipc.rs
  crates/locald-core/src/lib.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
  docs/surface/cli-manifest.json
  e2e/rust/locald-e2e/src/harness.rs
  e2e/rust/locald-e2e/tests/daemon_lifecycle.rs
  e2e/rust/locald-e2e/tests/dependencies.rs
  e2e/rust/locald-e2e/tests/port_binding.rs
  e2e/rust/locald-e2e/tests/service_execution.rs
  e2e/rust/locald-e2e/tests/service_urls.rs
Due: fmt, clippy

Align dashboard and stopped domains with project availability
  crates/locald-core/src/resolver.rs
  crates/locald-server/src/api.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy.rs
  crates/locald-server/src/proxy_test.rs
  locald-dashboard/src/lib/actions/project.ts
  locald-dashboard/src/lib/api.ts
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/routes/+page.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Address dashboard lifecycle review feedback
  crates/locald-core/src/availability.rs
  crates/locald-server/src/api.rs
  crates/locald-server/src/manager.rs
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/routes/+page.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Preserve lifecycle refresh across SSE reconnects
  locald-dashboard/src/lib/api.test.ts
  locald-dashboard/src/lib/api.ts
Due: dashboard-lint, dashboard-check, build-assets

Harden project resume surfaces
  crates/locald-server/src/api.rs
  crates/locald-server/src/manager.rs
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Harden dashboard resume rendering
  crates/locald-server/src/proxy.rs
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Address lifecycle resume review findings
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy.rs
  crates/locald-server/src/proxy_test.rs
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Refine unavailable project actions
  crates/locald-server/src/proxy.rs
  crates/locald-server/src/proxy_test.rs
  locald-dashboard/src/lib/components/ProjectView.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Clarify unavailable lifecycle states
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix(proxy): render unavailable page in one pass
  crates/locald-server/src/proxy.rs
Due: fmt, clippy

refactor(dashboard): derive transition timestamp type
  locald-dashboard/src/lib/availability.ts
Due: dashboard-lint, dashboard-check, build-assets

Align dashboard and stopped domains with project availability (#124)
  crates/locald-core/src/availability.rs
  crates/locald-core/src/resolver.rs
  crates/locald-server/src/api.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/proxy.rs
  crates/locald-server/src/proxy_test.rs
  locald-dashboard/src/lib/actions/project.ts
  locald-dashboard/src/lib/api.test.ts
  locald-dashboard/src/lib/api.ts
  locald-dashboard/src/lib/availability.test.ts
  locald-dashboard/src/lib/availability.ts
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/routes/+page.svelte
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Add authenticated editor availability protocol
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

Address editor lifecycle review findings
  crates/locald-core/src/attachments.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Normalize legacy editor heartbeats
  crates/locald-core/src/attachments.rs
Due: fmt, clippy

Authenticate editor host processes
  crates/locald-server/src/ipc.rs
Due: fmt, clippy

Add authenticated editor availability protocol (#125)
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

Add VS Code window availability controller
  .github/workflows/ci.yml
  .gitignore
  locald-vscode/.vscodeignore
  locald-vscode/locald-instructions.md
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/editor-controller.d.ts
  locald-vscode/out/editor-controller.js
  locald-vscode/out/editor-controller.js.map
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/project-selection.d.ts
  locald-vscode/out/project-selection.js
  locald-vscode/out/project-selection.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/out/tools.d.ts
  locald-vscode/out/tools.js
  locald-vscode/out/tools.js.map
  locald-vscode/out/workspace-project.d.ts
  locald-vscode/out/workspace-project.js
  locald-vscode/out/workspace-project.js.map
  locald-vscode/package.json
  locald-vscode/src/editor-controller.ts
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/project-selection.ts
  locald-vscode/src/status-bar.ts
  locald-vscode/src/tools.ts
  locald-vscode/src/workspace-project.ts
  locald-vscode/test/editor-controller.test.ts
  locald-vscode/test/plumbing.test.ts
  locald-vscode/test/project-selection.test.ts
  locald-vscode/tsconfig.test.json
Due: none

Address VS Code lifecycle review findings
  .github/workflows/ci.yml
  crates/locald-cli/src/utils.rs
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/editor-controller.d.ts
  locald-vscode/out/editor-controller.js
  locald-vscode/out/editor-controller.js.map
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/tools.js
  locald-vscode/out/tools.js.map
  locald-vscode/package.json
  locald-vscode/src/editor-controller.ts
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/tools.ts
  locald-vscode/test/editor-controller.test.ts
  locald-vscode/test/manifest.test.ts
  locald-vscode/test/plumbing.test.ts
Due: fmt, clippy

Address exact-head VS Code review findings
  locald-vscode/locald-instructions.md
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/editor-controller.d.ts
  locald-vscode/out/editor-controller.js
  locald-vscode/out/editor-controller.js.map
  locald-vscode/out/project-discovery.d.ts
  locald-vscode/out/project-discovery.js
  locald-vscode/out/project-discovery.js.map
  locald-vscode/out/tools.js
  locald-vscode/out/tools.js.map
  locald-vscode/out/workspace-project.js
  locald-vscode/out/workspace-project.js.map
  locald-vscode/package.json
  locald-vscode/src/editor-controller.ts
  locald-vscode/src/project-discovery.ts
  locald-vscode/src/tools.ts
  locald-vscode/src/workspace-project.ts
  locald-vscode/test/editor-controller.test.ts
  locald-vscode/test/manifest.test.ts
  locald-vscode/test/project-discovery.test.ts
Due: none

Preserve uncertain editor demand ownership
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/editor-controller.d.ts
  locald-vscode/out/editor-controller.js
  locald-vscode/out/editor-controller.js.map
  locald-vscode/out/project-selection.js
  locald-vscode/out/project-selection.js.map
  locald-vscode/src/editor-controller.ts
  locald-vscode/src/project-selection.ts
  locald-vscode/test/editor-controller.test.ts
  locald-vscode/test/project-selection.test.ts
Due: none

Harden editor restart and cleanup semantics
  locald-vscode/locald-vscode.vsix
  locald-vscode/out/editor-controller.js
  locald-vscode/out/editor-controller.js.map
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/tools.js
  locald-vscode/out/tools.js.map
  locald-vscode/src/editor-controller.ts
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/tools.ts
  locald-vscode/test/editor-controller.test.ts
  locald-vscode/test/plumbing.test.ts
Due: none

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
