Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: cargo xtask assets build && git add crates/locald-server/src/assets

sync-manifesto:
  run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

docs(rfcs): withdraw 5 additional superseded RFCs
  docs/rfcs/withdrawn/0021-docker-health-polling.md
  docs/rfcs/withdrawn/0030-gitignore-automation.md
  docs/rfcs/withdrawn/0052-runc-execution-strategy.md
  docs/rfcs/withdrawn/0069-rust-cnb-launcher.md
  docs/rfcs/withdrawn/0084-dashboard-redesign-v2.md
Due: none

docs(rfcs): withdraw 4 more RFCs and add launch priority triage
  .context/rfc-audit.md
  docs/rfcs/stage-1/0130-host-shim-daemon.md
  docs/rfcs/withdrawn/0046-manifesto-structure.md
  docs/rfcs/withdrawn/0116-minimum-awesome-product-map--scope-quarantine-and-enforcement.md
  docs/rfcs/withdrawn/0130-host-shim-daemon.md
  docs/rfcs/withdrawn/0137-superseded-by-rfc-0138.md
Due: none

docs(rfcs): withdraw 4 additional RFCs and add strategic triage
  .context/rfc-audit.md
  crates/locald-utils/tests/phase99_docs_acceptance.rs
Due: fmt, clippy

docs(rfc): Reconstruct RFC 0116 (MAP) from scattered references
  .context/rfc-audit.md
  docs/rfcs/stage-0/0116-minimum-awesome-product-map--scope-quarantine-and-enforcement.md
  docs/rfcs/withdrawn/0116-minimum-awesome-product-map--scope-quarantine-and-enforcement.md
Due: none

docs(rfcs): Resolve vocabulary conflicts across RFCs 0112, 0116, 0135
  .context/map-open-questions.md
  .context/rfc-audit.md
  docs/rfcs/stage-0/0112-user-programming-model-audit-and-doc-plan.md
  docs/rfcs/stage-0/0116-minimum-awesome-product-map--scope-quarantine-and-enforcement.md
  docs/rfcs/stage-0/0135-dashboard-vocabulary.md
Due: none

fix(server): correct postgres reset data dir
  crates/locald-server/src/manager.rs
Due: fmt, clippy

docs(readme): Add installation instructions for v0.1.0
  README.md
  crates/locald-server/src/manager.rs
Due: fmt, clippy

refactor(dashboard): Rename 'pin' to 'monitor' per RFC 0135 vocabulary
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/Rack.test.ts
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

fix(server): Postgres reset bug + README installation instructions (#62)
  README.md
  crates/locald-server/src/manager.rs
Due: fmt, clippy

refactor(dashboard): Rename 'pin' to 'monitor' per RFC 0135 vocabulary (#63)
  locald-dashboard/src/lib/components/Deck.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/Rack.test.ts
  locald-dashboard/src/routes/+page.svelte
Due: dashboard-lint, dashboard-check, build-assets

Phase 29: Extensibility & Plugins complete - WASM plugin system, packaging, and distributions implemented
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

feat(cli): Add locald selfupgrade command (Phase 30.2)
  .github/workflows/release.yml
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/selfupgrade.rs
  crates/locald-server/Cargo.toml
  crates/locald-utils/Cargo.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/archive/pre-rfc-transition/design/architecture/distribution.md
  docs/rfcs/stage-1/0039-installation-and-updates.md
  docs/surface/cli-manifest.json
  e2e/rust/locald-e2e/Cargo.toml
  tools/fetch-kernel/Cargo.toml
Due: fmt, clippy

fix: Address Copilot review feedback
  crates/locald-cli/src/selfupgrade.rs
Due: fmt, clippy

feat(cli): Add `locald selfupgrade` command (Phase 30.2) (#64)
  .github/workflows/release.yml
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/selfupgrade.rs
  crates/locald-server/Cargo.toml
  crates/locald-utils/Cargo.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/archive/pre-rfc-transition/design/architecture/distribution.md
  docs/rfcs/stage-1/0039-installation-and-updates.md
  docs/surface/cli-manifest.json
  e2e/rust/locald-e2e/Cargo.toml
  tools/fetch-kernel/Cargo.toml
Due: fmt, clippy

feat(cli): Add opt-in auto-update check on locald up (Phase 30.3)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/global_config.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/update_check.rs
  crates/locald-core/src/config/global.rs
Due: fmt, clippy

fix: Address review feedback for auto-updates
  .github/agents/execute.md
  .github/agents/prepare.md
  .github/agents/recon-worker.md
  .github/agents/recon.md
  .github/agents/review.md
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/global_config.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/update_check.rs
  crates/locald-core/src/config/global.rs
  docs/agent-context/plan.toml
Due: fmt, clippy

feat(cli): Add opt-in auto-update check on `locald up` (Phase 30.3) (#65)
  .github/agents/execute.md
  .github/agents/prepare.md
  .github/agents/recon-worker.md
  .github/agents/recon.md
  .github/agents/review.md
  Cargo.lock
  crates/locald-cli/src/global_config.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/update_check.rs
  crates/locald-core/src/config/global.rs
  docs/agent-context/plan.toml
Due: fmt, clippy

chore: Complete Phase 30, start Phase 31 (Engineering Excellence)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

feat(cli): Migrate error handling from anyhow to miette (RFC 0105)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/crash.rs
  crates/locald-cli/src/error.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/utils.rs
Due: fmt, clippy

docs: Add RFC 0145 (miette) and fix IpcError conversion
  crates/locald-cli/src/error.rs
  docs/rfcs/stage-2/0145-miette-error-handling.md
Due: fmt, clippy

fix(cli): Address PR #67 review feedback
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/error.rs
Due: fmt, clippy

feat(cli): Migrate error handling to miette (Phase 31.1) (#67)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/client.rs
  crates/locald-cli/src/crash.rs
  crates/locald-cli/src/error.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/utils.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/rfcs/stage-2/0145-miette-error-handling.md
Due: fmt, clippy

fix: Address RFC 0104 outstanding items
  crates/locald-server/src/lib.rs
  crates/locald-vmm/src/lib.rs
  crates/locald-vmm/src/tests.rs
  scripts/verify-update.sh
Due: fmt, clippy

feat(cli): Add trycmd snapshot testing for CLI commands (Task 31.2)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/utils.rs
  crates/locald-cli/tests/cli.rs
  crates/locald-cli/tests/cmd/ai-schema.md
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-cli/tests/cmd/error-messages.md
  crates/locald-cli/tests/cmd/help-subcommands.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-cli/tests/cmd/version.md
Due: fmt, clippy

fix: use pkill fallback in update verification
  scripts/verify-update.sh
Due: none

test(cli): set trycmd env before cases
  crates/locald-cli/tests/cli.rs
Due: fmt, clippy

fix: Address RFC 0104 outstanding items (#68)
  crates/locald-server/src/lib.rs
  crates/locald-vmm/src/lib.rs
  crates/locald-vmm/src/tests.rs
  scripts/verify-update.sh
Due: fmt, clippy

feat(cli): Add trycmd snapshot testing for CLI commands (Task 31.2) (#69)
  Cargo.lock
  crates/locald-cli/Cargo.toml
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/utils.rs
  crates/locald-cli/tests/cli.rs
  crates/locald-cli/tests/cmd/ai-schema.md
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-cli/tests/cmd/error-messages.md
  crates/locald-cli/tests/cmd/help-subcommands.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-cli/tests/cmd/version.md
Due: fmt, clippy

chore(plan): mark 31.1 and 31.2 complete, add 31.3 subtasks
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

feat(31.3): implement Tested Docs
  .github/workflows/ci.yml
  crates/locald-cli/tests/cli.rs
  crates/locald-cli/tests/cmd/ai-schema.md
  crates/locald-cli/tests/cmd/docs-cli.md
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-core/src/config/mod.rs
  crates/locald-core/tests/doc_toml_validation.rs
  crates/xtask/src/main.rs
  crates/xtask/src/verify.rs
  docs/agent-context/current/implementation-plan.toml
  locald-docs/src/content/docs/guides/configuration-basics.md
  locald-docs/src/content/docs/reference/locald-toml.md
Due: fmt, clippy

feat(31.3): implement Tested Docs (#71)
  .github/workflows/ci.yml
  crates/locald-cli/tests/cli.rs
  crates/locald-cli/tests/cmd/ai-schema.md
  crates/locald-cli/tests/cmd/docs-cli.md
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-core/src/config/mod.rs
  crates/locald-core/tests/doc_toml_validation.rs
  crates/xtask/src/main.rs
  crates/xtask/src/verify.rs
  docs/agent-context/current/implementation-plan.toml
  locald-docs/src/content/docs/guides/configuration-basics.md
  locald-docs/src/content/docs/reference/locald-toml.md
Due: fmt, clippy

chore: advance RFC 0145 (Miette) to Stage 3
  docs/agent-context/plan.toml
  docs/rfcs/stage-3/0145-miette-error-handling.md
Due: none

chore: advance RFC 0145 (Miette) to Stage 3 (#72)
  docs/agent-context/plan.toml
  docs/rfcs/stage-3/0145-miette-error-handling.md
Due: none

docs(rfc): promote 0138 and mark runc RFCs obsolete
  docs/rfcs/stage-3/0075-runc-container-runtime.md
  docs/rfcs/stage-3/0077-runc-setuid-fix.md
  docs/rfcs/stage-3/0138-remove-container-workflow-support.md
Due: none

docs(manual): add sandbox docs and refresh CLI/runtime
  docs/manual/architecture/container-runtime.md
  docs/manual/features/builds.md
  docs/manual/features/cli.md
  docs/manual/features/execution-modes.md
  docs/manual/features/sandboxes.md
Due: none

docs(manual): add RFC context references
  docs/manual/architecture/container-runtime.md
  docs/manual/features/cli.md
  docs/manual/features/sandboxes.md
Due: none

docs(phase-60): Manual Synchronization (#73)
  docs/manual/architecture/container-runtime.md
  docs/manual/features/builds.md
  docs/manual/features/cli.md
  docs/manual/features/execution-modes.md
  docs/manual/features/sandboxes.md
  docs/rfcs/stage-3/0075-runc-container-runtime.md
  docs/rfcs/stage-3/0077-runc-setuid-fix.md
  docs/rfcs/stage-3/0138-remove-container-workflow-support.md
Due: none

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
