Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: cargo xtask assets build && git add crates/locald-server/src/assets

sync-manifesto:
  run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

Make VS Code locald binary identity visible
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/status-bar.ts
Due: none

Normalize VS Code plumbing formatting
  locald-vscode/out/plumbing.js.map
  locald-vscode/src/plumbing.ts
Due: none

Make VS Code locald binary identity visible (#95)
  locald-vscode/out/extension.js
  locald-vscode/out/extension.js.map
  locald-vscode/out/plumbing.d.ts
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/out/status-bar.d.ts
  locald-vscode/out/status-bar.js
  locald-vscode/out/status-bar.js.map
  locald-vscode/src/extension.ts
  locald-vscode/src/plumbing.ts
  locald-vscode/src/status-bar.ts
Due: none

Warn on CLI daemon identity mismatch
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
Due: fmt, clippy

Address mismatch warning review feedback
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
Due: fmt, clippy

Fix CI failures on mismatch warning PR
  crates/locald-cli/tests/cli.rs
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-cli/tests/doctor_json.rs
  crates/locald-utils/src/postgres.rs
Due: fmt, clippy

Fix cnb-client clippy warning
  crates/cnb-client/src/runtime.rs
Due: fmt, clippy

Fix proxy keepalive clippy warning
  crates/locald-server/src/proxy.rs
Due: fmt, clippy

Gate tray command import on macOS
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

Use stable duration constructor for keepalive
  crates/locald-server/src/proxy.rs
Due: fmt, clippy

Prevent dependency test from hanging
  crates/locald-cli/tests/dependency_test.rs
Due: fmt, clippy

Add noninteractive locald up test mode
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/tests/dependency_test.rs
Due: fmt, clippy

Make locald up tests noninteractive
  crates/locald-cli/tests/dependency_test.rs
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/tui_test.rs
Due: fmt, clippy

Update TUI test for noninteractive up
  crates/locald-cli/tests/tui_test.rs
Due: fmt, clippy

Use hidden flag for noninteractive up tests
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/tests/dependency_test.rs
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/tui_test.rs
Due: fmt, clippy

Update CLI surface manifest
  docs/surface/cli-manifest.json
Due: none

Warn on CLI daemon identity mismatch (#96)
  crates/cnb-client/src/runtime.rs
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
  crates/locald-cli/tests/cli.rs
  crates/locald-cli/tests/cmd/doctor-json.md
  crates/locald-cli/tests/dependency_test.rs
  crates/locald-cli/tests/doctor_json.rs
  crates/locald-cli/tests/e2e.rs
  crates/locald-cli/tests/tui_test.rs
  crates/locald-server/src/proxy.rs
  crates/locald-utils/src/postgres.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

Recognize Tokio tests in tripwire
  crates/xtask/src/ci.rs
Due: fmt, clippy

Prefer running service for domain resolution
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Ignore stopped service ports for domain routing
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Prefer routable service for duplicate domains (#97)
  crates/locald-server/src/manager.rs
  crates/xtask/src/ci.rs
Due: fmt, clippy

Keep helper FD open until XPC send
  crates/locald-helper/src/main.rs
Due: fmt, clippy

Test helper FD send-before-close ordering
  crates/locald-helper/src/main.rs
Due: fmt, clippy

Keep helper FD open until XPC send completes (#98)
  crates/locald-helper/src/main.rs
Due: fmt, clippy

Reap stale editor attachments
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/attachments.rs
  crates/locald-server/src/manager.rs
  docs/surface/cli-manifest.json
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/src/plumbing.ts
Due: fmt, clippy

Use minute duration for editor TTL
  crates/locald-core/src/attachments.rs
Due: fmt, clippy

Reap stale editor attachments (#99)
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/attachments.rs
  crates/locald-server/src/manager.rs
  docs/surface/cli-manifest.json
  locald-vscode/out/plumbing.js
  locald-vscode/out/plumbing.js.map
  locald-vscode/src/plumbing.ts
Due: fmt, clippy

Clarify dashboard state vocabulary
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

Address dashboard state vocabulary review
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

Clarify dashboard state vocabulary (#100)
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
Due: dashboard-lint, dashboard-check, build-assets

Resolve RFC metadata review findings
  docs/rfcs/stage-1/0150-dependency-management.md
  docs/rfcs/stage-1/0152-testing-philosophy.md
  docs/rfcs/stage-2/0153-codebase-cleanup.md
  docs/rfcs/stage-3/0065-strawman-oci-fetcher.md
  docs/rfcs/stage-3/0066-systematic-investigation-protocol.md
  docs/rfcs/stage-3/0145-miette-error-handling.md
  docs/rfcs/stage-3/0149-shared-utility-crate.md
  docs/rfcs/stage-4/0148-virtio-mmio-constants.md
  docs/rfcs/withdrawn/0151-rust-cnb-launcher.md
  docs/rfcs/withdrawn/0154-host-spawn-crate-guest-to-host-execution.md
Due: none

Bootstrap Exosuit project context
  .gitattributes
  .github/prompts/bootstrap-axioms.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/docs-restructure.prompt.md
  .github/prompts/dream-team-exosuit.prompt.md
  .github/prompts/intent-amplifier.prompt.md
  .github/prompts/phase-continue.prompt.md
  .github/prompts/phase-rescue.prompt.md
  .github/prompts/phase-start.prompt.md
  .github/prompts/phase-status.prompt.md
  .github/prompts/phase-transition.prompt.md
  .github/prompts/prepare-phase.prompt.md
  .github/prompts/rebuild-coherence.prompt.md
  .github/prompts/troubleshoot-cli.prompt.md
  .github/prompts/verify-plan.prompt.md
  .gitignore
  AGENTS.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan-outline.md
  exosuit.toml
Due: none

Address Copilot prompt review comments
  .github/prompts/dream-team-exosuit.prompt.md
  .github/prompts/phase-rescue.prompt.md
  .github/prompts/verify-plan.prompt.md
Due: none

Clarify Exosuit state interface guidance
  AGENTS.md
Due: none

Bootstrap Exosuit project context (#102)
  .gitattributes
  .github/prompts/bootstrap-axioms.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/docs-restructure.prompt.md
  .github/prompts/dream-team-exosuit.prompt.md
  .github/prompts/intent-amplifier.prompt.md
  .github/prompts/phase-continue.prompt.md
  .github/prompts/phase-rescue.prompt.md
  .github/prompts/phase-start.prompt.md
  .github/prompts/phase-status.prompt.md
  .github/prompts/phase-transition.prompt.md
  .github/prompts/prepare-phase.prompt.md
  .github/prompts/rebuild-coherence.prompt.md
  .github/prompts/troubleshoot-cli.prompt.md
  .github/prompts/verify-plan.prompt.md
  .gitignore
  AGENTS.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan-outline.md
  exosuit.toml
Due: none

UX polish: align service status, CLI UX, docs, and handoff
  crates/locald-cli/src/build.rs
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/container.rs
  crates/locald-cli/src/debug.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/error.rs
  crates/locald-cli/src/global_config.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/history.rs
  crates/locald-cli/src/init.rs
  crates/locald-cli/src/main.rs
  crates/locald-cli/src/monitor.rs
  crates/locald-cli/src/run.rs
  crates/locald-cli/src/selfupgrade.rs
  crates/locald-cli/src/service.rs
  crates/locald-cli/src/trust.rs
  crates/locald-cli/src/try_cmd.rs
  crates/locald-cli/src/update_check.rs
  crates/locald-cli/tests/cmd/error-messages.md
  crates/locald-cli/tests/postgres_test.rs
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/api.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/service/postgres.rs
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/phase-97-completion.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/manual/features/cli.md
  docs/manual/features/service-urls.md
  locald-dashboard/src/lib/components/ProjectView.svelte
  locald-dashboard/src/lib/components/Rack.svelte
  locald-dashboard/src/lib/components/ServiceCard.svelte
  locald-dashboard/src/lib/types.ts
  locald-dashboard/src/lib/utils/service-display.test.ts
  locald-dashboard/src/lib/utils/service-display.ts
  locald-docs/src/content/docs/guides/managed-services.md
  locald-docs/src/content/docs/reference/cli.md
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Archive UX polish phase context
  docs/agent-context/archive/phase-ux-polish/claim-ledger-triage-plan.md
  docs/agent-context/archive/phase-ux-polish/implementation-plan.md
  docs/agent-context/archive/phase-ux-polish/implementation-plan.toml
  docs/agent-context/archive/phase-ux-polish/task-list.md
  docs/agent-context/archive/phase-ux-polish/walkthrough.md
Due: none

RFC 155: draft desktop tray status surface
  docs/rfcs/stage-0/00155-desktop-tray-status-surface.md
Due: none

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
