Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: cargo xtask assets build && git add crates/locald-server/src/assets

sync-manifesto:
  run: node ./locald-docs/scripts/sync-manifesto.mjs && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

RFC 155: promote tray status surface to stage 1
  docs/rfcs/stage-0/00155-desktop-tray-status-surface.md
  docs/rfcs/stage-1/00155-desktop-tray-status-surface.md
Due: none

Extract shared tray status model
  crates/locald-agent/src/main.rs
  crates/locald-agent/src/status.rs
Due: fmt, clippy

Refactor macOS tray backend boundary
  crates/locald-agent/src/backend/macos.rs
  crates/locald-agent/src/backend/mod.rs
  crates/locald-agent/src/main.rs
Due: fmt, clippy

Select Linux tray StatusNotifier path
  docs/rfcs/stage-1/00155-desktop-tray-status-surface.md
Due: none

Add Linux tray host diagnostics
  crates/locald-agent/src/backend/linux.rs
  crates/locald-agent/src/backend/mod.rs
Due: fmt, clippy

Implement Linux desktop tray backend
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/locald-agent/Cargo.toml
  crates/locald-agent/README.md
  crates/locald-agent/src/backend/linux.rs
  crates/locald-agent/src/main.rs
  crates/locald-cli/Cargo.toml
  crates/locald-cli/build.rs
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/tests/cmd/help-nightly.md
  crates/locald-cli/tests/cmd/help.md
  crates/locald-utils/src/agent.rs
  crates/locald-utils/src/lib.rs
  docs/manual/features/feature-readiness-ledger.md
  docs/rfcs/stage-1/00155-desktop-tray-status-surface.md
  install.sh
  locald-docs/astro.config.mjs
  locald-docs/src/content/docs/internals/architecture.md
  locald-docs/src/content/docs/reference/cli.md
  locald-docs/src/content/docs/reference/desktop-tray.md
  locald-docs/src/content/docs/reference/integrations.md
Due: fmt, clippy

Polish Linux tray agent provisioning
  crates/locald-cli/build.rs
  crates/locald-cli/src/handlers.rs
  docs/manual/features/feature-readiness-ledger.md
  locald-docs/src/content/docs/reference/desktop-tray.md
  locald-docs/src/content/docs/reference/integrations.md
Due: fmt, clippy

Implement Linux tray autostart polish
  .cargo/config.toml
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  docs/rfcs/stage-1/00155-desktop-tray-status-surface.md
  locald-docs/src/content/docs/reference/desktop-tray.md
Due: fmt, clippy

Fix Linux tray helper health check to resolve shim via pinned daemon path
  Cargo.lock
  crates/locald-agent/Cargo.toml
  crates/locald-agent/src/backend/linux.rs
Due: fmt, clippy

Archive phase-34 context (Linux Tray Health Pinning Polish)
  docs/agent-context/archive/phase-34/claim-ledger-triage-plan.md
  docs/agent-context/archive/phase-34/implementation-plan.md
  docs/agent-context/archive/phase-34/implementation-plan.toml
  docs/agent-context/archive/phase-34/task-list.md
  docs/agent-context/archive/phase-34/walkthrough.md
Due: none

Implement quiet locald up with runtime holds
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/tests/cmd/docs-cli.md
  crates/locald-cli/tests/cmd/help-subcommands.md
  crates/locald-cli/tests/e2e.rs
  crates/locald-core/src/attachments.rs
  crates/locald-utils/src/cert.rs
  docs/surface/cli-manifest.json
Due: fmt, clippy

Address runtime hold and doctor review feedback
  crates/locald-cli/src/doctor.rs
  crates/locald-cli/src/handlers.rs
Due: fmt, clippy

Move runtime hold after successful up
  crates/locald-cli/src/handlers.rs
  crates/locald-core/src/ipc.rs
  crates/locald-server/src/ipc.rs
  crates/locald-server/src/manager.rs
Due: fmt, clippy

Archive phase-59 context (Docs Site Design System)
  docs/agent-context/archive/phase-59/claim-ledger-triage-plan.md
  docs/agent-context/archive/phase-59/implementation-plan.md
  docs/agent-context/archive/phase-59/implementation-plan.toml
  docs/agent-context/archive/phase-59/task-list.md
  docs/agent-context/archive/phase-59/walkthrough.md
Due: none

Add locald docs design system: tokens, theme mapping, interface primitives, and Components & Interface Patterns style-guide page
  locald-docs/astro.config.mjs
  locald-docs/package.json
  locald-docs/src/components/brand/LocaldMark.astro
  locald-docs/src/components/product/CommandPaletteMock.astro
  locald-docs/src/components/product/DeckTile.astro
  locald-docs/src/components/product/ServiceRow.astro
  locald-docs/src/components/product/SpecPanel.astro
  locald-docs/src/components/product/StatusChip.astro
  locald-docs/src/components/product/StreamLine.astro
  locald-docs/src/components/product/SystemPlaneTile.astro
  locald-docs/src/components/product/UrlPill.astro
  locald-docs/src/components/styleguide/PrincipleCard.astro
  locald-docs/src/components/styleguide/SpecRow.astro
  locald-docs/src/components/styleguide/StyleGuidePage.astro
  locald-docs/src/content/docs/style-guide/components-interface-patterns.mdx
  locald-docs/src/styles/locald-components.css
  locald-docs/src/styles/locald-theme.css
  locald-docs/src/styles/locald-tokens.css
  pnpm-lock.yaml
Due: none

docs(style-guide): add Brand Foundations page (02) with color/type/mark/motif/principle panels
  locald-docs/astro.config.mjs
  locald-docs/src/components/brand/BrandMark.astro
  locald-docs/src/components/brand/ColorSwatch.astro
  locald-docs/src/components/brand/TypeSpecimen.astro
  locald-docs/src/components/diagrams/VisualMotifs.astro
  locald-docs/src/components/styleguide/StyleGuidePage.astro
  locald-docs/src/content/docs/style-guide/brand-foundations.mdx
  locald-docs/src/styles/locald-components.css
Due: none

docs(style-guide): add Public Site Direction page (04) with hero, dashboard mock, URL topology, and principles/CTA
  locald-docs/astro.config.mjs
  locald-docs/src/components/direction/BootSequence.astro
  locald-docs/src/components/direction/CtaButton.astro
  locald-docs/src/components/direction/DashboardMock.astro
  locald-docs/src/components/direction/PrincipleList.astro
  locald-docs/src/components/direction/StorySteps.astro
  locald-docs/src/content/docs/style-guide/public-site-direction.mdx
  locald-docs/src/styles/locald-components.css
Due: none

docs(style-guide): add Overview page (01) with ServiceTopology centerpiece
  locald-docs/astro.config.mjs
  locald-docs/src/components/diagrams/ServiceTopology.astro
  locald-docs/src/components/styleguide/PrincipleCard.astro
  locald-docs/src/content/docs/style-guide/overview.mdx
  locald-docs/src/styles/locald-components.css
Due: none

docs(style-guide): add Product Surface Grammar page (03) with annotated hero, noun spec cards, and surface patterns
  locald-docs/astro.config.mjs
  locald-docs/src/components/grammar/BehaviorList.astro
  locald-docs/src/components/grammar/DeckCard.astro
  locald-docs/src/components/grammar/NounSpecCard.astro
  locald-docs/src/components/grammar/RackPanel.astro
  locald-docs/src/components/grammar/StreamPanel.astro
  locald-docs/src/components/grammar/SurfacePatterns.astro
  locald-docs/src/components/grammar/SystemPlanePanel.astro
  locald-docs/src/content/docs/style-guide/brand-foundations.mdx
  locald-docs/src/content/docs/style-guide/product-surface-grammar.mdx
  locald-docs/src/styles/locald-components.css
Due: none

docs(style-guide): add handoff note for the design work
  docs/agent-context/current/style-guide-handoff.md
Due: none

Document pre-bankruptcy locald state
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Address recovery dossier review feedback
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Make bankruptcy targets non-copyable
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Make historical check summaries durable
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Render bankruptcy placeholders literally
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Strengthen Exo bankruptcy safety gates
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Use renderer-safe dossier placeholders
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Clarify documentation audit observations
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Record legacy Exo task baseline
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Clarify self-upgrade release discovery
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Clarify superseded RFC provenance
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

Document pre-bankruptcy locald state (#106)
  docs/research/2026-07-16-exo-bankruptcy-dossier.md
Due: none

chore: satisfy stable clippy
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
  crates/locald-utils/src/cert.rs
Due: fmt, clippy

chore: satisfy stable clippy (#107)
  crates/locald-cli/src/handlers.rs
  crates/locald-cli/src/hints.rs
  crates/locald-utils/src/cert.rs
Due: fmt, clippy

Add stable project identity primitives
  Cargo.lock
  crates/locald-core/Cargo.toml
  crates/locald-core/src/identity.rs
  crates/locald-core/src/lib.rs
  docs/design/axioms/experience/01-zero-friction-start.md
  locald-docs/src/content/docs/internals/axioms/experience/01-zero-friction-start.md
Due: fmt, clippy, sync-manifesto

Use shared identity marker version
  crates/locald-core/src/identity.rs
Due: fmt, clippy

Add stable Git-backed project identities (#108)
  Cargo.lock
  crates/locald-core/Cargo.toml
  crates/locald-core/src/identity.rs
  crates/locald-core/src/lib.rs
  docs/design/axioms/experience/01-zero-friction-start.md
  locald-docs/src/content/docs/internals/axioms/experience/01-zero-friction-start.md
Due: fmt, clippy, sync-manifesto

Add daemon-owned project identity catalog
  crates/locald-cli/src/cli.rs
  crates/locald-cli/src/handlers.rs
  crates/locald-core/Cargo.toml
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/catalog.rs
  crates/locald-core/src/identity.rs
  crates/locald-core/src/ipc.rs
  crates/locald-core/src/lib.rs
  crates/locald-core/src/registry.rs
  crates/locald-core/src/storage.rs
  crates/locald-server/src/lib.rs
  crates/locald-server/src/manager.rs
  crates/locald-server/src/state.rs
  docs/design/axioms/architecture/12-source-of-truth.md
  locald-docs/src/content/docs/internals/architecture.md
  locald-docs/src/content/docs/internals/architecture/configuration.md
  locald-docs/src/content/docs/internals/axioms/architecture/12-source-of-truth.md
Due: fmt, clippy, sync-manifesto

Harden legacy catalog compatibility
  crates/locald-core/src/attachments.rs
  crates/locald-core/src/storage.rs
Due: fmt, clippy

Preserve catalog lock across daemon restart
  crates/locald-server/src/lib.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
