Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: "*.rs"
      run: cargo clippy --workspace -- -D warnings
    dashboard-lint:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm lint
    dashboard-check:
      root: locald-dashboard
      glob: "*.{js,ts,svelte}"
      run: pnpm check
    build-assets:
      glob: "locald-dashboard/**/*.{js,ts,svelte,html,css,json}"
      run: ./scripts/build-assets.sh && git add locald-server/src/assets
    sync-manifesto:
      glob: "docs/design/**/*.md"
      run: ./locald-docs/scripts/sync-manifesto.sh && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

pre-push:
  parallel: true
  commands:
    rust-checks:
      run: ./scripts/ci-rust-checks-local.sh
    docs-build:
      root: locald-docs
      run: CI=true pnpm install && pnpm build

Finalize Phase 16 after squash merge
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
Due: none

Start Phase 27
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
Due: none

Start Phase 27 (Workspace & Constellations)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
Due: none

Switch active phase to 113 (Integration Boundaries Audit)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
Due: none

Phase 113: start TDD + add initial RED test
  docs/agent-context/current/implementation-plan.toml
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

Phase 113: doctor shows Docker availability
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

Phase 113: explain Docker impact in doctor
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

Phase 113: doctor explains Docker impact
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

Phase 113: doctor shows Docker socket path
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: respect DOCKER_HOST for docker check
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: respect DOCKER_HOST for docker check (#35)
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: explain unsupported DOCKER_HOST schemes
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: explain unsupported DOCKER_HOST schemes (#36)
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: surface CNB/buildpacks dependency
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: fix clippy in docker probe
  locald-cli/src/doctor.rs
Due: fmt, clippy

doctor: surface CNB/buildpacks dependency (#37)
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

doctor: surface virtualization (KVM) availability
  docs/agent-context/current/implementation-plan.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

ci: make sccache best-effort
  .github/workflows/ci.yml
  .yamllint
  codecov.yml
Due: none

doctor: recommend admin setup without sudo
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

docs: forbid backticks in commit messages
  AGENTS.md
Due: none

rfc: respectful doctor output (stage 0)
  docs/rfcs/stage-0/0125-respectful-doctor-output.md
Due: none

Phase 113: remove Docker doctor integration boundary; align with OCI+shim
  AGENTS.md
  Cargo.lock
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/ideas.toml
  docs/agent-context/plan.toml
  docs/rfcs/stage-0/0114-surface-contract-program-keep-ux-coherent-.md
  locald-cli/Cargo.toml
  locald-cli/src/doctor.rs
  locald-cli/tests/phase113_integration_boundaries_audit.rs
Due: fmt, clippy

Plan: mark phase 113 completed
  docs/agent-context/plan.toml
Due: none

plan: reorder pending phases; fix RFC links
  docs/agent-context/plan.toml
Due: none

Implemented cascading config (RFC 0026) and documented Crisp Rules.
  Cargo.lock
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/ideas.toml
  docs/agent-context/plan.toml
  locald-cli/src/handlers.rs
  locald-core/src/config/env_provenance.rs
  locald-core/src/config/mod.rs
  locald-server/Cargo.toml
  locald-server/src/config_loader.rs
Due: fmt, clippy

Implement Workspace/Constellation grouping in Dashboard and RFC 0127
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
  docs/rfcs/stage-0/0127-explicit-defaults.md
  locald-cli/src/init.rs
  locald-cli/src/service.rs
  locald-core/src/config/mod.rs
  locald-core/src/ipc.rs
  locald-dashboard/src/lib/stores/services.ts
  locald-dashboard/src/lib/types.ts
  locald-server/src/config_loader.rs
  locald-server/src/health.rs
  locald-server/src/lib.rs
  locald-server/src/manager.rs
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

Implemented hot reloading and configuration watcher
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
  locald-server/src/manager.rs
Due: fmt, clippy

Implement Port Mismatch Detection (Phase 37)
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
  implementation-plan.toml
  locald-cli/src/handlers.rs
  locald-cli/src/monitor.rs
  locald-core/src/ipc.rs
  locald-server/src/health.rs
  locald-server/src/manager.rs
Due: fmt, clippy

Completed Phase 28: Interactive Terminal, Theming, and Command Palette. Implemented PTY support in backend, xterm.js integration in frontend, centralized theming, and a global command palette.
  Cargo.lock
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  implementation-plan.toml
  locald-core/Cargo.toml
  locald-core/src/service.rs
  locald-dashboard/src/lib/components/CommandPalette.svelte
  locald-dashboard/src/lib/components/InspectorDrawer.svelte
  locald-dashboard/src/lib/components/InteractiveTerminal.svelte
  locald-dashboard/src/lib/components/Terminal.svelte
  locald-dashboard/src/lib/theme.ts
  locald-dashboard/src/routes/+layout.svelte
  locald-server/src/api.rs
  locald-server/src/health.rs
  locald-server/src/manager.rs
  locald-server/src/pty_test.rs
  locald-server/src/runtime/process.rs
  locald-server/src/service/exec.rs
Due: fmt, clippy, dashboard-lint, dashboard-check, build-assets

docs: mark phase 28 as completed
  docs/agent-context/plan.toml
Due: none

dashboard: align ServiceStatus workspace/constellation/warnings
  locald-dashboard/src/lib/stores/services.ts
  locald-dashboard/src/lib/types.ts
Due: dashboard-lint, dashboard-check, build-assets

docs: phase 29 context + RFC 0129 stage-1
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
  docs/rfcs/stage-1/0129-untitled.md
Due: none

plan: split 29.1 into executable subtasks
  docs/agent-context/current/implementation-plan.toml
Due: none
