Repository wycats/locald: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, dashboard-lint, dashboard-check, build-assets, sync-manifesto

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace -- -D warnings

dashboard-lint:
  run: pnpm lint

dashboard-check:
  run: pnpm check

build-assets:
  run: ./scripts/build-assets.sh && git add locald-server/src/assets

sync-manifesto:
  run: ./locald-docs/scripts/sync-manifesto.sh && git add locald-docs/src/content/docs/concepts locald-docs/src/content/docs/internals

exo: backfill axioms + ideas
  .github/prompts/bootstrap-axioms.prompt.md
  .github/prompts/capture-transcript.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/conceptual-integrity.prompt.md
  .github/prompts/dream-team-exosuit.prompt.md
  .github/prompts/dream-team-lite.prompt.md
  .github/prompts/dream-team-universal.prompt.md
  .github/prompts/gap-analysis.prompt.md
  .github/prompts/intent-amplifier.prompt.md
  .github/prompts/persona-build.prompt.md
  .github/prompts/phase-continue.prompt.md
  .github/prompts/phase-rescue.prompt.md
  .github/prompts/phase-start.prompt.md
  .github/prompts/phase-status.prompt.md
  .github/prompts/phase-transition.prompt.md
  .github/prompts/prepare-phase.prompt.md
  .github/prompts/troubleshoot-cli.prompt.md
  .github/prompts/verify-plan.prompt.md
  AGENTS.md
  docs/agent-context/axioms.system.toml
  docs/agent-context/axioms.workflow.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/ideas.toml
  docs/design/axioms.design.toml
Due: none

docs: add RFCs and sync axioms; shim: clap CLI
  Cargo.lock
  docs/design/axioms/environment/10-portability.md
  docs/rfcs/stage-0/0104-codebase-cleanup.md
  docs/rfcs/stage-0/0107-locald-shim-cli-hardening-clap--safe-mount-loop-contract.md
  docs/rfcs/stage-0/0108-firecracker-hardened-images-locald-init.md
  locald-cli/src/handlers.rs
  locald-cli/src/utils.rs
  locald-cli/tests/dependency_test.rs
  locald-cli/tests/e2e.rs
  locald-cli/tests/postgres_test.rs
  locald-cli/tests/regression_symlinks.rs
  locald-cli/tests/tui_test.rs
  locald-core/examples/exec_test.rs
  locald-docs/package.json
  locald-docs/scripts/sync-axioms.mjs
  locald-docs/src/content/docs/internals/axioms/environment/10-portability.md
  locald-shim/Cargo.toml
  locald-shim/src/main.rs
  locald-utils/src/shim.rs
  locald-vmm/examples/find_boot_params.rs
Due: fmt, clippy, sync-manifesto

RFC 0104: add repo README + align scripts/check with CI
  README.md
  docs/rfcs/stage-0/0104-codebase-cleanup.md
  scripts/check
Due: none

RFC 0104: promote + record validation docs
  docs/agent-context/plan.toml
  docs/manual/development/validation.md
  docs/rfcs/stage-1/0104-codebase-cleanup.md
Due: none

ci: drop setup-ci-and-linting branch triggers
  .github/workflows/ci.yml
Due: none

docs(rfc): update RFC 0104 status + checklist
  docs/rfcs/stage-1/0104-codebase-cleanup.md
Due: none

fix(server): use shim for hosts auto-sync
  docs/rfcs/0010-privileged-ports.md
  docs/rfcs/0097-strict-shim-discovery.md
  locald-server/src/manager.rs
Due: fmt, clippy

chore(server): remove backticks from hosts auto-sync log
  locald-server/src/manager.rs
Due: fmt, clippy

Phase 99: structured cgroups
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/plan.toml
  docs/manual/architecture/resource-management.md
  docs/rfcs/0099-cgroup-hierarchy.md
  locald-cli/src/handlers.rs
  locald-cli/src/utils.rs
  locald-oci/src/runtime_spec.rs
  locald-server/src/container.rs
  locald-server/src/runtime/process.rs
  locald-server/src/service/exec.rs
  locald-shim/Cargo.toml
  locald-shim/src/main.rs
  locald-utils/src/cgroup.rs
  locald-utils/src/env.rs
  locald-utils/src/lib.rs
Due: fmt, clippy

e2e: add cgroup cleanup test
  Cargo.lock
  locald-e2e/Cargo.toml
  locald-e2e/src/harness.rs
  locald-e2e/tests/cgroup_cleanup.rs
Due: fmt, clippy

docs: sync Phase 99 manual; stage-0 doctor
  docs/manual/architecture/resource-management.md
  docs/manual/architecture/shim-management.md
  docs/rfcs/stage-0/0109-locald-doctor.md
Due: none

Fix shim cgroup setup when systemd isn't PID 1
  locald-shim/src/main.rs
Due: fmt, clippy

Promote RFC 0109 (locald doctor) to Stage 1
  docs/agent-context/plan.toml
  docs/rfcs/stage-0/0109-locald-doctor.md
  docs/rfcs/stage-1/0109-locald-doctor.md
Due: none

RFC: split doctor vs privileged capability
  docs/rfcs/stage-0/0110-privileged-capability-acquisition.md
  docs/rfcs/stage-1/0109-locald-doctor.md
Due: none

RFC 0110: promote privileged capability acquisition
  docs/agent-context/plan.toml
  docs/rfcs/stage-0/0110-privileged-capability-acquisition.md
  docs/rfcs/stage-1/0109-locald-doctor.md
  docs/rfcs/stage-1/0110-privileged-capability-acquisition.md
Due: none

doctor: readiness report + invariant tests
  Cargo.lock
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/manual/architecture/testing.md
  docs/rfcs/stage-0/0111-property-tests-as-invariant-specs-doctor-fix-consolidation-.md
  docs/rfcs/stage-1/0109-locald-doctor.md
  docs/rfcs/stage-1/0110-privileged-capability-acquisition.md
  locald-cli/src/cli.rs
  locald-cli/src/doctor.rs
  locald-cli/src/handlers.rs
  locald-cli/src/main.rs
  locald-shim/src/main.rs
  locald-utils/Cargo.toml
  locald-utils/src/cgroup.rs
  locald-utils/src/fs.rs
  locald-utils/src/lib.rs
  locald-utils/src/privileged.rs
  locald-utils/src/shim.rs
Due: fmt, clippy

docs: align cgroup docs with PID1 detection
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/manual/architecture/resource-management.md
  docs/rfcs/0099-cgroup-hierarchy.md
Due: none

phase99: stabilize sandbox identity
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  locald-utils/src/env.rs
  locald-utils/tests/phase99_sandbox_identity.rs
Due: fmt, clippy

phase99: lock docs acceptance to sanitization
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/manual/architecture/resource-management.md
  docs/rfcs/0099-cgroup-hierarchy.md
  locald-utils/tests/phase99_docs_acceptance.rs
Due: fmt, clippy

Phase 99: finalize cgroup hierarchy verification
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/manual/architecture/resource-management.md
  docs/rfcs/0099-cgroup-hierarchy.md
  docs/rfcs/stage-0/0113-privileged-linux-e2e-runner-lane.md
  locald-e2e/tests/cgroup_cleanup.rs
  locald-shim/src/main.rs
  scripts/verify-phase.sh
Due: fmt, clippy

chore: record Phase 99 completion in plan
  docs/agent-context/plan.toml
Due: none

Phase 109 docs: document locald doctor
  README.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  locald-docs/src/content/docs/guides/ci-automation.md
  locald-docs/src/content/docs/reference/cli.md
Due: none

ci: ignore privileged cgroup cleanup e2e
  locald-e2e/tests/cgroup_cleanup.rs
Due: fmt, clippy

Phase 109: document locald doctor (#14)
  Cargo.lock
  README.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/current/task-list.toml
  docs/agent-context/current/walkthrough.toml
  docs/agent-context/plan.toml
  docs/manual/architecture/resource-management.md
  docs/manual/architecture/testing.md
  docs/rfcs/0099-cgroup-hierarchy.md
  docs/rfcs/stage-0/0109-locald-doctor.md
  docs/rfcs/stage-0/0111-property-tests-as-invariant-specs-doctor-fix-consolidation-.md
  docs/rfcs/stage-0/0113-privileged-linux-e2e-runner-lane.md
  docs/rfcs/stage-1/0109-locald-doctor.md
  docs/rfcs/stage-1/0110-privileged-capability-acquisition.md
  locald-cli/src/cli.rs
  locald-cli/src/doctor.rs
  locald-cli/src/handlers.rs
  locald-cli/src/main.rs
  locald-docs/src/content/docs/guides/ci-automation.md
  locald-docs/src/content/docs/reference/cli.md
  locald-e2e/tests/cgroup_cleanup.rs
  locald-shim/src/main.rs
  locald-utils/Cargo.toml
  locald-utils/src/cgroup.rs
  locald-utils/src/env.rs
  locald-utils/src/fs.rs
  locald-utils/src/lib.rs
  locald-utils/src/privileged.rs
  locald-utils/src/shim.rs
  locald-utils/tests/phase99_docs_acceptance.rs
  locald-utils/tests/phase99_sandbox_identity.rs
  scripts/verify-phase.sh
Due: fmt, clippy

docs(rfc): add user programming model audit plan (0112)
  docs/rfcs/stage-0/0112-user-programming-model-audit-and-doc-plan.md
Due: none

rfc-0112: drop stale decisions.md refs
  docs/rfcs/stage-0/0112-user-programming-model-audit-and-doc-plan.md
Due: none

Front door docs: try/stop and init next step
  locald-cli/src/init.rs
  locald-docs/src/content/docs/getting-started/index.mdx
  locald-docs/src/content/docs/reference/cli.md
Due: fmt, clippy

Claim ledger triage schedule
  docs/agent-context/current/claim-ledger-triage-plan.md
Due: none

Walkthrough: record T1 and triage PRs
  docs/agent-context/current/walkthrough.toml
Due: none

Claim ledger triage schedule (#18)
  docs/agent-context/current/claim-ledger-triage-plan.md
Due: none

Walkthrough: record T1 and triage PRs (#19)
  docs/agent-context/current/walkthrough.toml
Due: none

exo: schedule E6 surface coherence phases
  docs/agent-context/plan.toml
  docs/rfcs/stage-0/0114-surface-contract-program-keep-ux-coherent-.md
Due: none

locald-vmm: select linux backend by arch
  locald-vmm/src/lib.rs
  locald-vmm/src/linux.rs
  locald-vmm/src/linux_unsupported.rs
  locald-vmm/src/linux_x86.rs
Due: fmt, clippy

doctor/admin: smoother setup + HTTPS trust
  locald-cli/src/handlers.rs
  locald-cli/src/hints.rs
  locald-cli/src/trust.rs
  locald-docs/src/content/docs/getting-started/index.mdx
  locald-shim/Cargo.toml
  locald-shim/src/main.rs
  locald-utils/src/cert.rs
  locald-utils/src/privileged.rs
Due: fmt, clippy

server: degrade gracefully without docker
  locald-core/src/config/global.rs
  locald-server/src/health.rs
  locald-server/src/lib.rs
  locald-server/src/manager.rs
  locald-server/src/proxy.rs
  locald-server/src/runtime/docker.rs
  locald-server/src/runtime/mod.rs
Due: fmt, clippy

tooling: update prototools and lockfile
  .prototools
  Cargo.lock
Due: none

locald-vmm: gate boot params example to x86
  locald-vmm/examples/find_boot_params.rs
Due: fmt, clippy

tests: update ProcessManager::new docker arg
  locald-server/src/proxy_test.rs
Due: fmt, clippy

tests: allow proxy tests without docker
  locald-server/src/proxy_test.rs
Due: fmt, clippy

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  dashboard-lint: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  dashboard-check: any of: *.{js,ts,svelte} and ^locald\-dashboard/
  build-assets: any of: locald-dashboard/**/*.{js,ts,svelte,html,css,json}
  sync-manifesto: any of: docs/design/**/*.md
